<div class="panel panel-default">
    <div class="panel-heading">Blood Disorder</div>

    <div class="panel-body">
        <!-- Separate lookup for special condition Anemia Type, ng-show drives when a dom element is shown in the screen, so showing the right lookup list based on condition.name -->
        <div class="row" ng-repeat="condition in personalHistory.bloodDisorder.conditions">
            <label class="col-md-8 control-label">{{condition.question}}</label>
            <div class="col-md-2">
                <select name="{{condition.name}}" type="checkbox" class="form-control"
                        ng-model="condition.found" ng-required="true" ng-show="condition.name !== 'hadBDAnemiaType' ">
                    <option value="">Select One</option>
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                    <option value="NS">Not Sure</option>
                </select>
                <select name="{{condition.name}}" type="checkbox" class="form-control"
                        ng-model="condition.found" ng-required="true" ng-show="condition.name === 'hadBDAnemiaType' ">
                    <option value="">Select One</option>
                    <option value="Iron Deficient">Iron Deficient</option>
                    <option value="Pernicious">Pernicious</option>
                    <option value="Hemolytic">Hemolytic</option>
                    <option value="Other">Other</option>
                    <option value="Not Sure">Not Sure</option>
                </select>
            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm['{{condition.name}}'].$error.required">**</span>
            </div>
        </div>

        <hr>
        <div class="row">
            <div class="col-md-2">
                <input class="btn btn-primary" type="button" value="Calculate Ratings"
                       ng-click="calculateRiskRating('BLOOD_DISORDER')"/>
            </div>
            <div class="col-md-2">
                <input class="btn btn-primary" type="button" value="Calculate Rollup"
                       ng-click="calculateRiskRollup('BLOOD_DISORDER')"/>
            </div>
        </div>
    </div>
</div>






