
<div class="panel panel-default">
	<div class="panel-heading">Cancer</div>

	<div class="panel-body">

        <div class="row" ng-repeat="condition in personalHistory.disgestiveDisorder.conditions">
            <label class="col-md-8 control-label">{{condition.question}}</label>
            <div class="col-md-2" >

                <select name="{{condition.name}}" type="checkbox" class="form-control"
                        ng-model="condition.found" ng-required="true">
                    <option value="">Select One</option>
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                    <option value="NS">Not Sure</option>
                </select>

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm['{{condition.name}}'].$error.required">**</span>
            </div>
        </div>

        <hr>
        <div class="row">

            <div class="col-md-2" >

                <input class="btn btn-primary" type="button" value="Calculate Ratings"
                       ng-click="calculateRiskRating('DIGESTIVE_DISORDER')"/>

            </div>

            <div class="col-md-2" >

                <input class="btn btn-primary" type="button" value="Calculate Rollup"
                       ng-click="calculateRiskRollup('DIGESTIVE_DISORDER')"/>

            </div>

        </div>
	</div>
</div>






