<div class="row">
    <label class="col-md-1 control-label" style="width: 32px;">Age:</label>
    <div class="col-md-1" >

        <input name="{{member.informationSource}}-{{member.member}}-age-{{$index}}" type="text" ng-required="true"
               ng-model="member.age" class="form-control">

    </div>

    <label class="col-md-2 control-label" style="width: 102px;">Life Status:</label>
    <div class="col-md-2" >

        <select name="{{member.informationSource}}-{{member.member}}-lifeStatus-{{$index}}" type="checkbox" class="form-control"
                ng-model="member.lifeStatus" ng-required="true">
            <option value="">Select One</option>
            <option value="DECEASED">DECEASED</option>
            <option value="ALIVE">ALIVE</option>
            <option value="UNKNOWN">UNKNOWN</option>
        </select>


    </div>

    <label class="col-md-2 control-label" style="width: 80px;">Condition:</label>
    <div class="col-md-3" style="width: 200px;">

        <select name="{{member.informationSource}}-{{member.member}}-condition-{{$index}}" type="checkbox" class="form-control"
                ng-model="member.condition" ng-required="true">
            <option value="">Select One</option>
            <option value="BREAST_CANCER">BREAST_CANCER</option>
            <option value="BREAST_OR_OVARIAN_CANCER">BREAST_OR_OVARIAN_CANCER</option>
            <option value="SKIN_CANCER">SKIN_CANCER</option>
            <option value="HEART_DISEASE">HEART_DISEASE</option>
            <option value="OTHER_CANCER">OTHER_CANCER</option>
        </select>

    </div>
    <div class="col-md-2" style="width: 130px;" ng-if="member.informationSource == 'FAMILY_CONDITIONS' || member.informationSource == 'MOTHER_DETAILS' || member.informationSource == 'FATHER_DETAILS'">

        <select name="{{member.informationSource}}-{{member.member}}-member-{{$index}}" type="checkbox" class="form-control"
                ng-model="member.member" ng-required="true">
            <option value="">Select One</option>
            <option value="FATHER">FATHER</option>
            <option value="MOTHER">MOTHER</option>
            <option value="BROTHER">BROTHER</option>
            <option value="SISTER">SISTER</option>
        </select>


    </div>
    <div class="col-md-1" style="width: 20px;">

        <input type="checkbox" ng-model="member.include">

    </div>
    <div class="col-md-1">
        <span class="required" ng-show="member.include == true && (mainForm['{{member.informationSource}}-{{member.member}}-age-{{$index}}'].$error.required || mainForm['{{member.informationSource}}-{{member.member}}-lifeStatus-{{$index}}'].$error.required || mainForm['{{member.informationSource}}-{{member.member}}-condition-{{$index}}'].$error.required)">**</span>
    </div>
</div>