
<div class="panel panel-default">
	<div class="panel-heading">Family History</div>

	<div class="panel-body">

        <div class="row well">
            <div class="row" ng-repeat="condition in personalHistory.familyHistory.conditions">
                <label class="col-md-8 control-label">{{condition.question}}</label>
                <div class="col-md-2" >

                    <select name="{{condition.name}}" type="checkbox" class="form-control"
                            ng-model="condition.found" ng-required="true">
                        <option value="">Select One</option>
                        <option value="Y">Yes</option>
                        <option value="N">No</option>
                        <option value="NS">Not Sure</option>
                    </select>

                </div>
                <div class="col-md-1">
                    <span class="required" ng-show="mainForm['{{condition.name}}'].$error.required">**</span>
                </div>
            </div>
        </div>

        <div class="row" style="color: #435159;font-size: 16px;margin-bottom: 2px;">Family Members - Mother/Father</div>
        <div class="row well">
            <div ng-repeat="member in momAndDad" data-ng-include="'client/app/components/part2/view/family_member_view.html'"></div>
        </div>
        <div class="row" style="color: #435159;font-size: 16px;margin-bottom: 2px;">Family Members - Sisters</div>
        <div class="row well">
            <div ng-repeat="member in personalHistory.familyHistory.sistersDetails" data-ng-include="'client/app/components/part2/view/family_member_view.html'"></div>
        </div>

        <div class="row" style="color: #435159;font-size: 16px;margin-bottom: 2px;">Family Members - Brothers</div>
        <div class="row well">
            <div ng-repeat="member in personalHistory.familyHistory.brothersDetails" data-ng-include="'client/app/components/part2/view/family_member_view.html'"></div>
        </div>

        <div class="row" style="color: #435159;font-size: 16px;margin-bottom: 2px;">Family Members - Conditions</div>
        <div class="row well">
            <div ng-repeat="member in personalHistory.familyHistory.familyConditions" data-ng-include="'client/app/components/part2/view/family_member_view.html'"></div>
        </div>

        <div class="row" style="color: #435159;font-size: 16px;margin-bottom: 2px;">Family Members - Serious Conditions</div>
        <div class="row well">
            <div ng-repeat="member in personalHistory.familyHistory.familySeriousConditions" data-ng-include="'client/app/components/part2/view/family_member_view.html'"></div>
        </div>

        <hr>
        <div class="row">

            <div class="col-md-2" >

                <input class="btn btn-primary" type="button" value="Calculate Ratings"
                       ng-click="calculateRiskRating('FAMILY_HISTORY')"/>

            </div>

            <div class="col-md-2" >

                <input class="btn btn-primary" type="button" value="Calculate Rollup"
                       ng-click="calculateRiskRollup('FAMILY_HISTORY')"/>

            </div>

        </div>
	</div>
</div>






