
<div class="panel panel-default">
	<div class="panel-heading">Heart Conditions</div>

	<div class="panel-body">
				<!-- Separate lookup for special condition Meds, ng-show drives when a dom element is shown in the screen, so showing the right lookup list based on condition.name -->
        <div class="row" ng-repeat="condition in personalHistory.heartCondition.conditions">
            <label class="col-md-8 control-label">{{condition.question}}</label>
            <div class="col-md-2" >
                <select name="{{condition.name}}" type="checkbox" class="form-control"
                        ng-model="condition.found" ng-required="true" ng-if="condition.name !== 'medsHCH' ">
                    <option value="">Select One</option>
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                    <option value="NS">Not Sure</option>
                </select>

                <input name="{{condition.name}}" placeholder="Enter Meds Count" type="text" class="form-control"
                       ng-model="condition.found" ng-required="true" ng-if="condition.name === 'medsHCH' ">
            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm['{{condition.name}}'].$error.required">**</span>
            </div>
        </div>

        <hr>
        <div class="row">

            <div class="col-md-2" >

                <input class="btn btn-primary" type="button" value="Calculate Ratings"
                       ng-click="calculateRiskRating('HEART_CONDITION')"/>

            </div>

            <div class="col-md-2" >

                <input class="btn btn-primary" type="button" value="Calculate Rollup"
                       ng-click="calculateRiskRollup('HEART_CONDITION')"/>

            </div>

        </div>
	</div>
</div>






