<div class="insurance_demo">
    <div init-header="part2" header-label="Insurance Demo - Part II"></div>

    <form name="mainForm" class="body form-horizontal insurance-form">

        <div class="row">

            <div class="col-md-1"></div>
            <div class="col-md-8 tab-heading">

                <tabset>

                    <tab heading="Blood Disorder">

                        <div class="well" style="border-top: 0px;">

                            <div data-ng-include="'client/app/components/part2/view/blood_disorder_view.html'"></div>

                        </div>
                    </tab>
                    <tab heading="Cancer">

                        <div class="well" style="border-top: 0px;">

                            <div data-ng-include="'client/app/components/part2/view/cancer_view.html'"></div>

                        </div>
                    </tab>
                    <tab heading="Chronic Fatigue">

                        <div class="well" style="border-top: 0px;">

                            <div data-ng-include="'client/app/components/part2/view/chronic_fatigue_view.html'"></div>

                        </div>
                    </tab>
                    <tab heading="Diabetes">

                        <div class="well" style="border-top: 0px;">

                            <div data-ng-include="'client/app/components/part2/view/diabetes_view.html'"></div>

                        </div>
                    </tab>
                    <tab heading="Disgestive Disorder">

                        <div class="well" style="border-top: 0px;">

                            <div data-ng-include="'client/app/components/part2/view/digestive_disorder_view.html'"></div>

                        </div>
                    </tab>
                    <tab heading="Ear Nose Throat">

                        <div class="well" style="border-top: 0px;">

                            <div data-ng-include="'client/app/components/part2/view/ear_nose_throat_view.html'"></div>

                        </div>
                    </tab>
                    <tab heading="Family History">

                        <div class="well" style="border-top: 0px;">

                            <div data-ng-include="'client/app/components/part2/view/family_history_view.html'"></div>

                        </div>
                    </tab>
                    <tab heading="Heart Condition">

                        <div class="well" style="border-top: 0px;">

                            <div data-ng-include="'client/app/components/part2/view/heart_condition_view.html'"></div>

                        </div>
                    </tab>

                    <tab heading="Nervous System">

                        <div class="well" style="border-top: 0px;">

                            <div data-ng-include="'client/app/components/part2/view/nervous_system_disorder_view.html'"></div>

                        </div>
                    </tab>
                    <tab heading="Mental Health">

                        <div class="well" style="border-top: 0px;">

                            <div data-ng-include="'client/app/components/part2/view/mental_health_view.html'"></div>

                        </div>
                    </tab>

                    <tab heading="Musculoskeletal">

                        <div class="well" style="border-top: 0px;">

                            <div data-ng-include="'client/app/components/part2/view/musculoskeletal_disorder_view.html'"></div>

                        </div>
                    </tab>
                    <tab heading="Past 10 Year Window">

                        <div class="well" style="border-top: 0px;">

                            <div data-ng-include="'client/app/components/part2/view/past_ten_year_window_view.html'"></div>

                        </div>
                    </tab>
                     <tab heading="Past 5 Year Window">

                        <div class="well" style="border-top: 0px;">

                            <div data-ng-include="'client/app/components/part2/view/past_five_year_window_view.html'"></div>

                        </div>
                    </tab>
                    <tab heading="Past 3 Year Window">

                        <div class="well" style="border-top: 0px;">

                            <div data-ng-include="'client/app/components/part2/view/past_three_year_window_view.html'"></div>

                        </div>
                    </tab>
                    <tab heading="Personal Info">

                        <div class="well" style="border-top: 0px;">

                            <div data-ng-include="'client/app/components/part2/view/personal_information_view.html'"></div>

                        </div>
                    </tab>
                    <tab heading="Pregnancy">

                        <div class="well" style="border-top: 0px;">

                            <div data-ng-include="'client/app/components/part2/view/pregnancy_view.html'"></div>

                        </div>
                    </tab>
                    <tab heading="Pulmonary">

                        <div class="well" style="border-top: 0px;">

                            <div data-ng-include="'client/app/components/part2/view/pulmonary_disorder_view.html'"></div>

                        </div>
                    </tab>

                    <tab heading="Reproductive">

                        <div class="well" style="border-top: 0px;">

                            <div data-ng-include="'client/app/components/part2/view/reproductive_disorder_view.html'"></div>

                        </div>
                    </tab>
                    <tab heading="Skin">

                        <div class="well" style="border-top: 0px;">

                            <div data-ng-include="'client/app/components/part2/view/skin_disorder_view.html'"></div>

                        </div>
                    </tab>
                    <tab heading="Urinary Track">

                        <div class="well" style="border-top: 0px;">

                            <div data-ng-include="'client/app/components/part2/view/urinary_track_view.html'"></div>

                        </div>
                    </tab>
                    <tab heading="Other">

                        <div class="well" style="border-top: 0px;">

                            <div data-ng-include="'client/app/components/part2/view/part2_other_view.html'"></div>

                        </div>
                    </tab>

                </tabset>

            </div>

            <div class="col-md-3">

                <nav class="hidden-print hidden-xs hidden-sm affix" style="right: 10px; width: 300px;">
                    <div class="well">
                        <div class="row group-heading">
                            <div class="col-md-12">Available Tasks</div>
                        </div>

                        <div class="row group-body">

                            <div class="col-md-6">

                                <div style="margin-bottom: 5px;width: 80px;">
                                    <input class="btn btn-default" type="button" value="Clear"
                                           ng-click="resetQuote()"/>
                                </div>

                            </div>

                        </div>
                        <div class="row group-body">

                            <div class="col-md-6">

                                <input type="button" class="btn btn-success"
                                       value="Calculate Final Risk Rollup"
                                       ng-click="calculateRiskRollup('ALL')"/>


                            </div>
                        </div>
                        <div class="row group-body">

                            <div class="col-md-6">

                                <input type="button" class="btn btn-success"
                                       value="Calculate Final Risk Summary"
                                       ng-click="calculateRiskSummary('ALL')"/>


                            </div>
                        </div>

                    </div>

                    <div class="panel panel-default">
                        <div class="group-heading">Validation Messages</div>

                        <div class="panel-body">


                            <div class="panel panel-danger" ng-if="warningQuoteMessages > 0">
                                <div class="group-heading">Warning</div>
                                <div class="group-body">
                                    <ul class="list-group">

                                        <li class="list-group-item" ng-repeat="qu in warningQuoteMessages ">
                                            {{qu.message}}
                                        </li>
                                    </ul>
                                </div>
                            </div>


                            <div class="panel panel-danger" ng-if="infoQuoteMessages.length > 0">
                                <div class="group-heading">Information</div>
                                <div class="group-body">
                                    <ul class="list-group">
                                        <li class="list-group-item" ng-repeat="qu in infoQuoteMessages ">{{qu.message}}
                                            <span style="display:none">{{qu}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>


                            <div class="row" ng-if="errorQuoteMessages.length > 0">
                                <div class="group-heading">Errors</div>
                                <div class="group-body">
                                    <ul class="list-group">
                                        <li class="list-group-item" ng-repeat="qu in errorQuoteMessages | orderBy:'message' ">{{qu.message}}
                                            <span style="display:none">{{qu}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12" ng-show="quoteStatus == QuoteStatus.FORM_INCOMPLETE">

                                    <p class="text-danger text-left" tooltip="{{requiredFieldList}}" style="width: 380px;">
                                        Some fields are still required.<br>
                                        Please complete all required fields to complete the quote.
                                    </p>
                                </div>

                            </div>

                        </div>
                    </div>

                </nav>

            </div>

        </div>
    </form>

</div>
