
<div class="panel panel-default">
	<div class="panel-heading">Personal Information</div>

	<div class="panel-body">

        <div class="row">


            <label class="col-md-2 control-label" style="width: 18%;">Height:</label>
            <div class="col-md-3 input-group" style="float:left;padding-left: 15px;padding-right: 15px;">
                <input name="personalInformation.heightFeet" style="width: 50%;"
                       placeholder="feet"
                       ng-required="true" type="text"
                       ng-model="personalHistory.personalInformation.heightFeet" class="form-control">


                <input name="personalInformation.heightInches" style="width: 50%;"
                       placeholder="inches"
                       ng-required="true" type="text"
                       ng-model="personalHistory.personalInformation.heightInches" class="form-control">

            </div>

            <label class="col-md-2 control-label" style="width: 18%;">Weight(Pounds):</label>
            <div class="col-md-1" >

                <input name="personalInformation.weightPounds" type="text" ng-required="true"
                       ng-model="personalHistory.personalInformation.weightPounds" class="form-control">


            </div>

            <label class="col-md-2 control-label">weightChange(Pounds):</label>
            <div class="col-md-1" >

                <input name="personalInformation.weightChangePounds" type="text" ng-required="true"
                       ng-model="personalHistory.personalInformation.weightChangePounds" class="form-control">


            </div>

        </div>
        <div class="row">

            <label class="col-md-2 control-label" style="width: 18%;">Weight Loss Reason:</label>
            <div class="col-md-3" >

                <select name="personalInformation.weightLossReason" type="checkbox" class="form-control"
                        ng-model="personalHistory.personalInformation.weightLossReason" ng-required="true">

                    <option value="">Select One</option>
                    <option value="CHANGE_DIET_EXERCISE">Change to diet/exercise</option>
                    <option value="CHILD_BIRTH">Child-birth</option>
                    <option value="DIET_EXERCISE">Diet and/or exercise</option>
                    <option value="OTHER">Other</option>
                    <option value="PREGNANCY">Pregnancy</option>
                    <option value="WEIGHT_LOSS_SURGERY">Weight loss surgery</option>
                </select>


            </div>

            <label class="col-md-2 control-label" style="width: 18%;">Weight Gain Reason:</label>
            <div class="col-md-3" >

                <select name="personalInformation.weightGainReason" type="checkbox" class="form-control"
                        ng-model="personalHistory.personalInformation.weightGainReason" ng-required="true">

                    <option value="">Select One</option>
                    <option value="CHANGE_DIET_EXERCISE">Change to diet/exercise</option>
                    <option value="CHILD_BIRTH">Child-birth</option>
                    <option value="DIET_EXERCISE">Diet and/or exercise</option>
                    <option value="OTHER">Other</option>
                    <option value="PREGNANCY">Pregnancy</option>
                    <option value="WEIGHT_LOSS_SURGERY">Weight loss surgery</option>
                </select>


            </div>
        </div>


        <hr>
        <div class="row">

            <div class="col-md-2" >

                <input class="btn btn-primary" type="button" value="Calculate Ratings"
                       ng-click="calculateRiskRating('PERSONAL_INFORMATION')"/>

            </div>

            <div class="col-md-2" >

                <input class="btn btn-primary" type="button" value="Calculate Rollup"
                       ng-click="calculateRiskRollup('PERSONAL_INFORMATION')"/>

            </div>

        </div>
	</div>
</div>






