
<div class="col-md-12">

    <form enctype="multipart/form-data" method="post">

        <div class="row">

            <div class="col-md-5">
                    <span ng-disabled="disableField">
                        <label class="btn btn-primary" style="width: 130px; height: 35px;">Upload Files.. &nbsp;<i class="glyphicon glyphicon-plus icon-white"></i>
                            <input id="fl" ng-disabled="disableField" type="file" file-upload multiple style="opacity:0">
                        </label>
                    </span>


            </div>
            <div class="col-md-4" ng-if="attachFiles.length >0">

                <button class="btn btn-primary"  data-ng-if="!busyUploading" data-ng-disabled="disableField"
                        data-ng-click="saveUpload()">Save Documents</button>

                <div class="row" id="attachmentLoading" ng-hide="attachmentLoading" data-ng-if="busyUploading">
                    <div class="col-md-1">
                        <img src="/img/process_loading.gif" alt="Smiley face" style="height:32px; width:32px; border:none; vertical-align:middle; text-align:center;">
                    </div>
                    <div class="col-md-10">
                        <p style="margin-left: 5px;">Uploading, please wait ...</p>
                    </div>
                </div>
            </div>


        </div>
        <div class="row" ng-if="attachFiles.length >0">

            <div class="col-md-6">
                <div>
                    <ul>
                        <li ng-repeat="file in attachFiles">
                            {{file.name}} <a class="btn"  ng-disabled="disableField" ng-click="deleteFile($index)" data-ng-show="file"><i class="glyphicon glyphicon-trash"></i></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </form>

</div>


