<div class="insurance_demo">
    <div init-header="rules" header-label="Edit Rules"></div>

    <form name="mainForm" class="body form-horizontal insurance-form">

        <div class="row">

        <div class="col-md-1"></div>
        <div class="col-md-8">

            <div class="panel panel-default">
                <div class="panel-heading">Upload Guided Decision Table</div>

                <div class="panel-body">

                    <div class="row">

                        <div class="col-md-3" >

                            <label class="btn btn-primary" style="height: 34px;">Select Guided Decision Table
                                <input id="file" name="file" type="file" file-model="rulesFile" style="opacity:0"/>
                            </label>

                            <input class="btn btn-success" type="button" value="Load Selected file" style="float: left;"
                                   ng-click="convertToRules()"/>

                            <!--<input type="file" on-read-file="showContent(fileContent)" />-->

                        </div>
                        <div class="col-md-6" ng-show="rulesFile != undefined">


                            <input class="btn btn-success" type="button" value="Load Selected file" style="float: left;"
                                   ng-click="uploadFile()"/>


                            <ul style="float: left;">
                                <li >
                                    {{rulesFile.name}}
                                </li>
                            </ul>
                        </div>


                    </div>

                </div>
            </div>


        </div>

        <div class="col-md-3">

            <nav class="hidden-print hidden-xs hidden-sm affix" style="right: 10px; width: 300px;">
                <div class="well">
                    <div class="row group-heading">
                        <div class="col-md-12">Available Tasks</div>
                    </div>

                    <div class="row group-body">

                        <div class="col-md-6">

                            <div style="margin-bottom: 5px;width: 80px;">
                                <input class="btn btn-default" type="button" value="Clear"
                                       ng-click="resetDiagnosis()"/>
                            </div>

                        </div>

                    </div>
                    <div class="row group-body">

                        <div class="col-md-6">

                            <input type="button" class="btn btn-success"
                                   value="Calculate Risk Class Results"
                                   ng-click="calculateRiskResults()"/>


                        </div>
                    </div>

                </div>

                <div class="panel panel-default">
                    <div class="group-heading">Validation Messages</div>

                    <div class="panel-body">

                        <div class="row" ng-if="errorQuoteMessages.length > 0">
                            <div class="group-heading">Errors</div>
                            <div class="group-body">
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="qu in errorQuoteMessages | orderBy:'message' ">{{qu.message}}
                                        <span style="display:none">{{qu}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12" ng-show="requiredFieldList != undefined && requiredFieldList.length > 0">

                                <p class="text-danger text-left" tooltip="{{requiredFieldList}}" style="width: 380px;">
                                    Some fields are still required.<br>
                                    Please complete all required fields to complete the quote.
                                </p>
                            </div>

                        </div>

                    </div>
                </div>

            </nav>

        </div>

    </div>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-6">

                <div class="panel panel-default">
                    <div class="panel-heading">Uploaded rules</div>

                    <div class="panel-body">

                        <table class="table table-hover table-striped table-condensed table-bordered" style="width: 70%;">
                            <thead style="color: #fff; background-color: #286090;">
                            <tr>
                                <th>Rule Data</th>

                                <th style="width: 5%;">UPNT</th>


                            </tr>
                            </thead>
                            <tbody>
                            <tr>

                                <td>aa</td>

                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>




            </div>
        </div>

    </form>


</div>
