
<div class="panel panel-default">
	<div class="panel-heading">ALI Rider</div>

	<div class="panel-body">

		<div class="row">
			<label class="col-md-6 control-label">Scheduled Additional
				Life Insurance Rider (ALIR) Amount At Risk/Unscheduled Additional
				Life Insurance Rider (ALIR) Amount At Risk</label>

		</div>
		<div class="row">

			<label class="col-md-4 control-label">Enter Insured Age</label>
			<div class="col-md-2">


				<input name="alir-insuredAge" type="text"
					ng-model="principalInsured.insured.insuredAge" class="form-control">

			</div>

			<div class="col-md-1">
				<span class="required"
					ng-show="mainForm.alir-insuredAge.$error.required">**</span>
			</div>
		</div>
		<div class="row">

			<label class="col-md-4 control-label">Enter total Amount At
				Risk</label>

			<div class="col-md-2">

				<input name="policyAppliedFor-totalAmountAtRisk" type="number"
					ng-model="principalInsured.policyAppliedFor.totalAmountAtRisk"
					class="form-control">

			</div>
			<div class="col-md-1">
				<span class="required"
					ng-show="mainForm.policyAppliedFor-totalAmountAtRisk.$error.required">**</span>
			</div>
		</div>
		
		<div class="row">

			<label class="col-md-4 control-label">Enter alir modal premium (C12a value)
				Risk</label>

			<div class="col-md-2">


				<input name="policyAppliedFor-alirModalPremium" type="number"
					ng-model="principalInsured.policyAppliedFor.alirModalPremium"
					class="form-control">

			</div>
			<div class="col-md-1">
				<span class="required"
					ng-show="mainForm.policyAppliedFor-alirModalPremium.$error.required">**</span>
			</div>
		</div>		

		<div class="row">

			<label class="col-md-4 control-label">Enter alir unschedule lump sum (C12b value)
				Risk</label>

			<div class="col-md-2">

				<input name="policyAppliedFor-alirUnscheduleLumpSum" type="number"
					ng-model="principalInsured.policyAppliedFor.alirUnscheduleLumpSum"
					class="form-control">

			</div>
			<div class="col-md-1">
				<span class="required"
					ng-show="mainForm.policyAppliedFor-alirUnscheduleLumpSum.$error.required">**</span>
			</div>
		</div>			
		<hr>
		<div class="row">

			<div class="col-md-2">

				<input class="btn btn-primary" type="button"
					value="Calculate Ratings"
					ng-click="calculateRiskRating('ALIR')" />

			</div>
			<div class="col-md-2">

				<input class="btn btn-primary" type="button"
					value="Calculate Rollup" ng-click="calculateRiskRollup('ALIR')" />

			</div>

		</div>

	</div>
</div>






