
<div class="panel panel-default">
	<div class="panel-heading">Amount at Risk</div>

	<div class="panel-body">

        <div class="row">
            <label class="col-md-6 control-label">Enter total amount at risk</label>
            <div class="col-md-3" >

                <input name="policyAppliedFor-amount-at-risk.totalAmountAtRisk" placeholder="Enter total amount at risk"
                       ng-required="true" type="number"
                       ng-model="principalInsured.policyAppliedFor.totalAmountAtRisk" class="form-control">

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.policyAppliedFor-amount-at-risk.totalAmountAtRisk.$error.required">**</span>
            </div>
        </div>
       
      
        <hr>
        <div class="row">

            <div class="col-md-2" >

                <input class="btn btn-primary" type="button" value="Calculate Ratings"
                       ng-click="calculateRiskRating('TOTAL_AMOUNT_AT_RISK')"/>

            </div>

            <div class="col-md-2" >

                <input class="btn btn-primary" type="button" value="Calculate Rollup"
                       ng-click="calculateRiskRollup('TOTAL_AMOUNT_AT_RISK')"/>

            </div>

        </div>
	</div>
</div>






