
<div class="panel panel-default">
	<div class="panel-heading">Aviation</div>

	<div class="panel-body">

        <div class="row">
            <label class="col-md-6 control-label">Expect to become within the next 2 years, or been in the last 3 years, a pilot, a student pilot or crew member of any
                aircraft?</label>
            <div class="col-md-2" >

                <select name="flying" type="checkbox" class="form-control"
                        ng-model="principalInsured.aviation.flying" ng-required="true">
                    <option value="">Select One</option>
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                </select>

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.flying.$error.required">**</span>
            </div>
        </div>
        <hr>
        <div class="row">

            <div class="col-md-2" >

                <input class="btn btn-primary" type="button" value="Calculate Ratings"
                       ng-click="calculateRiskRating('AVIATION')"/>

            </div>
            <div class="col-md-2" >

                <input class="btn btn-primary" type="button" value="Calculate Rollup"
                       ng-click="calculateRiskRollup('AVIATION')"/>

            </div>

        </div>

	</div>
</div>






