
<div class="panel panel-default">
	<div class="panel-heading">Avocation</div>

	<div class="panel-body">

        <div class="row">
            <label class="col-md-8 control-label">Take part in underwater diving, hang gliding, para sailing, para kiting, parachuting, skydiving, ultralight, soaring, ballooning,
                bungee jumping, rock or mountain climbing, helicopter skiing, or organized racing by automobile, motorcycle, motorboat
                or snowmobile, in the last 3 years or intend to in the next 2 years?</label>
            <div class="col-md-2" >

                <select name="lifeStyleActivities" type="checkbox" class="form-control"
                        ng-model="principalInsured.avocation.lifeStyleActivities" ng-required="true">
                    <option value="">Select One</option>
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                </select>

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.lifeStyleActivities.$error.required">**</span>
            </div>
        </div>
        <div class="row" ng-if="principalInsured.avocation.lifeStyleActivities == 'Y'">
            <label class="col-md-7 col-md-offset-1 control-label">Doing any under water diving?</label>
            <div class="col-md-2" >

                <select name="underWaterDiving" type="checkbox" class="form-control"
                        ng-model="principalInsured.avocation.underWaterDiving" ng-required="true">
                    <option value="">Select One</option>
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                </select>

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.underWaterDiving.$error.required">**</span>
            </div>
        </div>

        <div class="row" ng-if="principalInsured.avocation.lifeStyleActivities == 'Y'">
            <label class="col-md-7 col-md-offset-1 control-label">Do you dive fewer than 50 times per year?</label>
            <div class="col-md-2" >

                <select name="underWaterDiveFewerThanFifty" type="checkbox" class="form-control"
                        ng-model="principalInsured.avocation.underWaterDiveFewerThanFifty" ng-required="true">
                    <option value="">Select One</option>
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                </select>

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.underWaterDiveFewerThanFifty.$error.required">**</span>
            </div>
        </div>
        <div class="row" ng-if="principalInsured.avocation.lifeStyleActivities == 'Y'">
            <label class="col-md-7 col-md-offset-1 control-label">Are your dives limited to 100 feet in depth?</label>
            <div class="col-md-2" >

                <select name="underWaterDiving100Ft" type="checkbox" class="form-control"
                        ng-model="principalInsured.avocation.underWaterDiving100Ft" ng-required="true">
                    <option value="">Select One</option>
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                </select>

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.underWaterDiving100Ft.$error.required">**</span>
            </div>
        </div>
        <div class="row" ng-if="principalInsured.avocation.lifeStyleActivities == 'Y'">
            <label class="col-md-7 col-md-offset-1 control-label">Is your certification limited to a resort or basic certification?</label>
            <div class="col-md-2" >

                <select name="underWaterDivingCertification" type="checkbox" class="form-control"
                        ng-model="principalInsured.avocation.underWaterDivingCertification" ng-required="true">
                    <option value="">Select One</option>
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                </select>

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.underWaterDivingCertification.$error.required">**</span>
            </div>
        </div>
        <div class="row" ng-if="principalInsured.avocation.lifeStyleActivities == 'Y'">
            <label class="col-md-7 col-md-offset-1 control-label">Do you always dive with a buddy?</label>
            <div class="col-md-2" >

                <select name="underWaterDiveWithABuddy" type="checkbox" class="form-control"
                        ng-model="principalInsured.avocation.underWaterDiveWithABuddy" ng-required="true">
                    <option value="">Select One</option>
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                </select>

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.underWaterDiveWithABuddy.$error.required">**</span>
            </div>
        </div>
        <hr>
        <div class="row">

            <div class="col-md-2" >

                <input class="btn btn-primary" type="button" value="Calculate Ratings"
                       ng-click="calculateRiskRating('AVOCATION')"/>

            </div>

            <div class="col-md-2" >

                <input class="btn btn-primary" type="button" value="Calculate Rollup"
                       ng-click="calculateRiskRollup('AVOCATION')"/>

            </div>

        </div>
	</div>
</div>






