
<div class="panel panel-default">
	<div class="panel-heading">Citizenship</div>

	<div class="panel-body">

       
  	<div class="row">
            <label class="col-md-6 control-label">Enter immigration status</label>
            <div class="col-md-3" >

                <select  name="principalInsured-citizenShip-immigrationStatus"
                         ng-required="false"
                         ng-model="principalInsured.citizenShip.immigrationStatus" class="form-control">
                    <option value="">Select One</option>
                    <option value="CITIZEN">CITIZEN</option>
                    <option value="NON_CITIZEN">NON_CITIZEN</option>
                </select>

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="principalInsured-citizenship-insuredUSPerson.$error.required">**</span>
            </div>
        </div>
            
        <hr>
        <div class="row">

            <div class="col-md-2" >

                <input class="btn btn-primary" type="button" value="Calculate Ratings"
                       ng-click="calculateRiskRating('CITIZEN );')"/>

            </div>

            <div class="col-md-2" >

                <input class="btn btn-primary" type="button" value="Calculate Rollup"
                       ng-click="calculateRiskRollup('CITIZEN );')"/>

            </div>

        </div>
	</div>
</div>






