
<div class="panel panel-default">
	<div class="panel-heading">Disability</div>

	<div class="panel-body">

       
  	<div class="row">
            <label class="col-md-6 control-label">Enter disablity status</label>
            <div class="col-md-3" >

                

				 <select  name="principalInsured-disability-disabilityStatus" 
                       ng-required="false" 
                       ng-model="principalInsured.disability.disabilityStatus" class="form-control">
                    <option value="">Select One</option>
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                </select>
            </div>
            <div class="col-md-1">
                <span class="required" ng-show="principalInsured-disability-disabilityStatus.$error.required">**</span>
            </div>
        </div>
            
        <hr>
        <div class="row">

            <div class="col-md-2" >

                <input class="btn btn-primary" type="button" value="Calculate Ratings"
                       ng-click="calculateRiskRating('DISABILITY')"/>

            </div>

            <div class="col-md-2" >

                <input class="btn btn-primary" type="button" value="Calculate Rollup"
                       ng-click="calculateRiskRollup('DISABILITY')"/>

            </div>

        </div>
	</div>
</div>






