
<div class="panel panel-default">
	<div class="panel-heading">Dui</div>

	<div class="panel-body">

       
  	<div class="row">
           <label class="col-md-6 control-label">Select if convicted last five years</label>
            <div class="col-md-3" >
				 <select  name="principalInsured-dui-convictedLastFiveYears" 
                       ng-required="false" 
                       ng-model="principalInsured.dui.convictedLastFiveYears" class="form-control">
                    <option value="">Select One</option>
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                </select>
            </div>
            <div class="col-md-1">
                <span class="required" ng-show="principalInsured-dui-convictedLastFiveYears.$error.required">**</span>
            </div>
        </div>
 
   		<div class="row">
           <label class="col-md-6 control-label">Enter moving violations count</label>
            <div class="col-md-3" >
				 <input  name="principalInsured-dui-movingViolationsCount" type="number"
                       ng-required="false" 
                       ng-model="principalInsured.dui.movingViolationsCount" class="form-control"/>
                  
               
            </div>
            <div class="col-md-1">
                <span class="required" ng-show="principalInsured-dui-movingViolationsCount.$error.required">**</span>
            </div>
        </div> 
  		<div class="row">
           <label class="col-md-6 control-label">Select if suspended license due to not payment of child support</label>
            <div class="col-md-3" >
				 <select  name="principalInsured-dui-suspendedLicenseDueToNonPmtChildSupport" 
                       ng-required="false" 
                       ng-model="principalInsured.dui.suspendedLicenseDueToNonPmtChildSupport" class="form-control">
                    <option value="">Select One</option>
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                </select>
            </div>
            <div class="col-md-1">
                <span class="required" ng-show="principalInsured-dui-suspendedLicenseDueToNonPmtChildSupport.$error.required">**</span>
            </div>
        </div>        
     	<div class="row">
           <label class="col-md-6 control-label">Enter moving violations list</label>
            <div class="col-md-3" >
				 <input  name="principalInsured-dui-movingVoilationList" type="text"
                       ng-required="false" 
                       ng-model="principalInsured.dui.movingVoilationList" class="form-control"/>
                  
               
            </div>
            <div class="col-md-1">
                <span class="required" ng-show="principalInsured-dui-movingVoilationList.$error.required">**</span>
            </div>
        </div>                 
        <hr>
        <div class="row">

            <div class="col-md-2" >

                <input class="btn btn-primary" type="button" value="Calculate Ratings"
                       ng-click="calculateRiskRating('DUI')"/>

            </div>

            <div class="col-md-2" >

                <input class="btn btn-primary" type="button" value="Calculate Rollup"
                       ng-click="calculateRiskRollup('DUI')"/>

            </div>

        </div>
	</div>
</div>






