
<div class="panel panel-default">
	<div class="panel-heading">Family Limits</div>

	<div class="panel-body">

        <div class="row">
            <label class="col-md-6 control-label">Insured Age</label>
            <div class="col-md-3" >

                <input name="familylimit-risk.insuredAge" placeholder="Enter Insured age"
                       ng-required="true" type="text"
                       ng-model="principalInsured.insured.insuredAge" class="form-control">

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm-familylimit-risk.insuredAge.$error.required">**</span>
            </div>
        </div>
         <div class="row">
            <label class="col-md-6 control-label">Enter parentGuardianTotalFace</label>
            <div class="col-md-3" >

                <input name="familylimit-risk.parentGuardianTotalFace" placeholder="Enter parentGuardianTotalFace"
                       ng-required="true" type="text"
                       ng-model="principalInsured.policyAppliedFor.parentGuardianTotalFace" class="form-control">

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm-familylimit-risk.parentGuardianTotalFace.$error.required">**</span>
            </div>
        </div>
         <div class="row">
            <label class="col-md-6 control-label">Enter baseFaceAmount</label>
            <div class="col-md-3" >

                <input name="familylimit-risk.baseFaceAmount" placeholder="Enter baseFaceAmount"
                       ng-required="true" type="text"
                       ng-model="principalInsured.policyAppliedFor.baseFaceAmount" class="form-control">

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm-familylimit-risk.baseFaceAmount.$error.required">**</span>
            </div>
        </div>          
 
 		<div class="row">

			<label class="col-md-6 control-label">Enter total Amount At
				Risk</label>

			<div class="col-md-3">

				<input name="familylimit-risk-totalAmountAtRisk" type="text"
					ng-model="principalInsured.policyAppliedFor.totalAmountAtRisk"
					class="form-control">

			</div>
			<div class="col-md-1">
				<span class="required"
					ng-show="mainForm.familylimit-risk-totalAmountAtRisk.$error.required">**</span>
			</div>
		</div>
		
		<div class="row">

			<label class="col-md-6 control-label">Enter alir modal premium (C12a value)
				Risk</label>

			<div class="col-md-3">


				<input name="familylimit-risk-alirModalPremium" type="text"
					ng-model="principalInsured.policyAppliedFor.alirModalPremium"
					class="form-control">

			</div>
			<div class="col-md-1">
				<span class="required"
					ng-show="mainForm.familylimit-risk-alirModalPremium.$error.required">**</span>
			</div>
		</div>		

		<div class="row">

			<label class="col-md-6 control-label">Enter alir unschedule lump sum (C12b value)
				Risk</label>

			<div class="col-md-3">

				<input name="familylimit-risk-alirUnscheduleLumpSum" type="text"
					ng-model="principalInsured.policyAppliedFor.alirUnscheduleLumpSum"
					class="form-control">

			</div>
			<div class="col-md-1">
				<span class="required"
					ng-show="mainForm.familylimit-risk-alirUnscheduleLumpSum.$error.required">**</span>
			</div>
		</div>	
 		<div class="row">

			<label class="col-md-6 control-label">Enter lisrFaceAmount
				Risk</label>

			<div class="col-md-3">

				<input name="familylimit-risk-lisrFaceAmount" type="text"
					ng-model="principalInsured.policyAppliedFor.lisrFaceAmount"
					class="form-control">

			</div>
			<div class="col-md-1">
				<span class="required"
					ng-show="mainForm.familylimit-risk.lisrFaceAmount.$error.required">**</span>
			</div>
		</div>	
		<div class="row">

			<label class="col-md-6 control-label">Enter rtrFaceAmount
				Risk</label>

			<div class="col-md-3">

				<input name="familylimit-risk-rtrFaceAmount" type="text"
					ng-model="principalInsured.policyAppliedFor.rtrFaceAmount"
					class="form-control">

			</div>
			<div class="col-md-1">
				<span class="required"
					ng-show="mainForm.familylimit-risk.rtrFaceAmount.$error.required">**</span>
			</div>
		</div>	  	
		
		<div class="row">
			<label class="col-md-6 control-label">Enter lowestSiblingAmount
				Risk</label>
			<div class="col-md-3">

				<input name="familylimit-risk-lowestSiblingAmount" type="text"
					ng-model="principalInsured.policyAppliedFor.lowestSiblingAmount"
					class="form-control">

			</div>
			<div class="col-md-1">
				<span class="required"	ng-show="mainForm.familylimit-risk.lowestSiblingAmount.$error.required">**</span>
			</div>
		</div>	

		<div class="row">
			<label class="col-md-6 control-label">Enter inforceInsurance
				Risk</label>
			<div class="col-md-3">

				<input name="familylimit-risk-inforceInsurance" type="number"
					ng-model="principalInsured.policyAppliedFor.inforceInsurance"
					class="form-control">

			</div>
			<div class="col-md-1">
				<span class="required"	ng-show="mainForm.familylimit-risk.inforceInsurance.$error.required">**</span>
			</div>
		</div>	
		<div class="row">
			<label class="col-md-6 control-label">Enter highestSiblingAmount
				Risk</label>
			<div class="col-md-3">

				<input name="familylimit-risk-highestSiblingAmount" type="number"
					ng-model="principalInsured.policyAppliedFor.highestSiblingAmount"
					class="form-control">

			</div>
			<div class="col-md-1">
				<span class="required"	ng-show="mainForm.familylimit-risk.highestSiblingAmount.$error.required">**</span>
			</div>
		</div>									            
        <hr>
        <div class="row">

            <div class="col-md-2" >

                <input class="btn btn-primary" type="button" value="Calculate Ratings"
                       ng-click="calculateRiskRating('FAMILY_LIMITS')"/>

            </div>

            <div class="col-md-2" >

                <input class="btn btn-primary" type="button" value="Calculate Rollup"
                       ng-click="calculateRiskRollup('FAMILY_LIMITS')"/>

            </div>

        </div>
	</div>
</div>






