
<div class="panel panel-default">
	<div class="panel-heading">Felony</div>

	<div class="panel-body">
        
  		<div class="row">
            <label class="col-md-6 control-label">Select if convictedOfFelony</label>
            <div class="col-md-3" >
				 <select  name="principalInsured-felony-convictedOfFelony" 
                       ng-required="false" 
                       ng-model="principalInsured.felony.convictedOfFelony" class="form-control">
                    <option value="">Select One</option>
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                </select>
            </div>
            <div class="col-md-1">
                <span class="required" ng-show="principalInsured-felony-convictedOfFelony.$error.required">**</span>
            </div>
        </div>
            
        <hr>
        <div class="row">

            <div class="col-md-2" >

                <input class="btn btn-primary" type="button" value="Calculate Ratings"
                       ng-click="calculateRiskRating('FELONY')"/>

            </div>

            <div class="col-md-2" >

                <input class="btn btn-primary" type="button" value="Calculate Rollup"
                       ng-click="calculateRiskRollup('FELONY')"/>

            </div>

        </div>
	</div>
</div>






