
<div class="panel panel-default">
	<div class="panel-heading">Foreign Travel</div>

	<div class="panel-body">

        <div class="row">
            <label class="col-md-8 control-label">Anticipate any foreign travel in the next 2 years?</label>
            <div class="col-md-2" >

                <select name="anyTravelNext2Years" type="checkbox" class="form-control"
                        ng-model="principalInsured.travel.anyTravelNext2Years" ng-required="true">
                    <option value="">Select One</option>
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                </select>

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.anyTravelNext2Years.$error.required">**</span>
            </div>
        </div>
        <div class="row" ng-if="principalInsured.travel.anyTravelNext2Years == 'Y'">
            <label class="col-md-7 col-md-offset-1 control-label">If Yes, select country to which you will be traveling:</label>
            <div class="col-md-2" >

                <select name="country" type="checkbox" class="form-control"
                        ng-model="principalInsured.travel.country" ng-required="true">
                    <option value="">Select One</option>
                    <option value="Armenia">Armenia</option>
                    <option value="Bahamas">Bahamas</option>
                    <option value="China">China</option>
                    <option value="Mexico">Mexico</option>
                    <option value="Switzerland">Switzerland</option>
                    <option value="United Kingdom">United Kingdom</option>
                    <option value="Other">Other</option>
                </select>

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.country.$error.required">**</span>
            </div>
        </div>
        <div class="row" ng-if="principalInsured.travel.anyTravelNext2Years == 'Y'">
            <label class="col-md-7 col-md-offset-1 control-label">Select duration of stay in weeks:</label>
            <div class="col-md-2" >

                <input name="durationOfStayInWeeks"
                       placeholder="Enter Duration in Week"
                       ng-required="true" type="text"
                       ng-model="principalInsured.travel.durationOfStayInWeeks" class="form-control">

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.durationOfStayInWeeks.$error.required">**</span>
            </div>
        </div>
        <div class="row" ng-if="principalInsured.travel.anyTravelNext2Years == 'Y'">
            <label class="col-md-7 col-md-offset-1 control-label">Select duration of stay in days:</label>
            <div class="col-md-2" >

                <input name="durationOfStayInDays"
                       placeholder="Enter Duration in Week"
                       ng-required="true" type="text"
                       ng-model="principalInsured.travel.durationOfStayInDays" class="form-control">

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.durationOfStayInDays.$error.required">**</span>
            </div>
        </div>
        <hr>
        <div class="row">

            <div class="col-md-2" >

                <input class="btn btn-primary" type="button" value="Calculate Ratings"
                       ng-click="calculateRiskRating('FOREIGN_TRAVEL')"/>

            </div>

            <div class="col-md-2" >

                <input class="btn btn-primary" type="button" value="Calculate Rollup"
                       ng-click="calculateRiskRollup('FOREIGN_TRAVEL')"/>

            </div>

        </div>
	</div>
</div>






