
<div class="panel panel-default">
	<div class="panel-heading">Household</div>

	<div class="panel-body">

        <div class="row">
            <label class="col-md-6 control-label">Base Face Amount</label>
            <div class="col-md-3" >

                <input name="baseFaceAmount" placeholder="Enter Base amount"
                       ng-required="true" type="text"
                       ng-model="principalInsured.policyAppliedFor.baseFaceAmount" class="form-control">

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.baseFaceAmount.$error.required">**</span>
            </div>
        </div>
        <div class="row">
            <label class="col-md-6 control-label">LISR Face Amount</label>
            <div class="col-md-3" >

                <input name="lisrFaceAmount" placeholder="Enter LISR amount"
                       ng-required="true" type="text"
                       ng-model="principalInsured.policyAppliedFor.lisrFaceAmount" class="form-control">

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.lisrFaceAmount.$error.required">**</span>
            </div>
        </div>
        <div class="row">
            <label class="col-md-6 control-label">RTR Face Amount</label>
            <div class="col-md-3" >

                <input name="rtrFaceAmount" placeholder="Enter RTR amount"
                       ng-required="true" type="text"
                       ng-model="principalInsured.policyAppliedFor.rtrFaceAmount" class="form-control">

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.rtrFaceAmount.$error.required">**</span>
            </div>
        </div>
        <div class="row">
            <label class="col-md-6 control-label">Annual HouseHold Earned Income</label>
            <div class="col-md-3" >

                <input name="annualHouseHoldEarnedIncome" placeholder="Enter amount"
                       ng-required="true" type="text"
                       ng-model="principalInsured.financialHistory.annualHouseHoldEarnedIncome" class="form-control">

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.annualHouseHoldEarnedIncome.$error.required">**</span>
            </div>
        </div>
        <div class="row">
            <label class="col-md-6 control-label">Insured Age</label>
            <div class="col-md-3" >

                <input name="insuredAge-household" placeholder="Enter age"
                       ng-required="true" type="text"
                       ng-model="principalInsured.insured.insuredAge" class="form-control">

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.insuredAge-household.$error.required">**</span>
            </div>
        </div>
        <hr>
        <div class="row">

            <div class="col-md-2" >

                <input class="btn btn-primary" type="button" value="Calculate Ratings"
                       ng-click="calculateRiskRating('ANNUAL_INCOME')"/>

            </div>

            <div class="col-md-2" >

                <input class="btn btn-primary" type="button" value="Calculate Rollup"
                       ng-click="calculateRiskRollup('ANNUAL_INCOME')"/>

            </div>

        </div>
	</div>
</div>






