
<div class="panel panel-default">
	<div class="panel-heading">Income</div>

	<div class="panel-body">

        <div class="row">
            <label class="col-md-6 control-label">Base Face Amount</label>
            <div class="col-md-3" >

                <input name="baseFaceAmount" placeholder="Enter Base amount"
                       ng-required="true" type="text"
                       ng-model="principalInsured.policyAppliedFor.baseFaceAmount" class="form-control">

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.baseFaceAmount.$error.required">**</span>
            </div>
        </div>
        <div class="row">
            <label class="col-md-6 control-label">LISR Face Amount</label>
            <div class="col-md-3" >

                <input name="lisrFaceAmount" placeholder="Enter LISR amount"
                       ng-required="true" type="text"
                       ng-model="principalInsured.policyAppliedFor.lisrFaceAmount" class="form-control">

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.lisrFaceAmount.$error.required">**</span>
            </div>
        </div>
        <div class="row">
            <label class="col-md-6 control-label">RTR Face Amount</label>
            <div class="col-md-3" >

                <input name="rtrFaceAmount" placeholder="Enter RTR amount"
                       ng-required="true" type="text"
                       ng-model="principalInsured.policyAppliedFor.rtrFaceAmount" class="form-control">

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.rtrFaceAmount.$error.required">**</span>
            </div>
        </div>
        <div class="row">
            <label class="col-md-6 control-label">PCR Face Amount</label>
            <div class="col-md-3" >

                <input name="income-pcrFaceAmount" placeholder="Enter PCR amount"
                       ng-required="true" type="text"
                       ng-model="principalInsured.policyAppliedFor.pcrFaceAmount" class="form-control">

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.income-pcrFaceAmount.$error.required">**</span>
            </div>
        </div>
        <div class="row">
            <label class="col-md-6 control-label">Earned Income Current Year</label>
            <div class="col-md-3" >

                <input name="earnedIncomeCurrentYear" placeholder="Enter amount"
                       ng-required="true" type="text"
                       ng-model="principalInsured.financialHistory.earnedIncomeCurrentYear" class="form-control">

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.earnedIncomeCurrentYear.$error.required">**</span>
            </div>
        </div>
        <div class="row">
            <label class="col-md-6 control-label">Un-earned Income Current Year</label>
            <div class="col-md-3" >

                <input name="unearnedIncomeCurrentYear" placeholder="Enter amount"
                       ng-required="true" type="text"
                       ng-model="principalInsured.financialHistory.unearnedIncomeCurrentYear" class="form-control">

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.unearnedIncomeCurrentYear.$error.required">**</span>
            </div>
        </div>
        <div class="row">
            <label class="col-md-6 control-label">Insurance Applied For</label>
            <div class="col-md-3" >

                <input name="income_insuranceAppliedFor" placeholder="Enter amount"
                       ng-required="true" type="text"
                       ng-model="principalInsured.policyAppliedFor.insuranceAppliedFor" class="form-control">

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.income_insuranceAppliedFor.$error.required">**</span>
            </div>
        </div>
        <div class="row">
            <label class="col-md-6 control-label">proposedPlanPremium</label>
            <div class="col-md-3" >

                <input name="proposedPlanPremium" placeholder="Enter amount"
                       ng-required="true" type="text"
                       ng-model="principalInsured.policyAppliedFor.proposedPlanPremium" class="form-control">

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.proposedPlanPremium.$error.required">**</span>
            </div>
        </div>
        <div class="row">
            <label class="col-md-6 control-label">Insured Age</label>
            <div class="col-md-3" >

                <input name="insuredAge-income" placeholder="Enter age"
                       ng-required="true" type="text"
                       ng-model="principalInsured.insured.insuredAge" class="form-control">

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.insuredAge-income.$error.required">**</span>
            </div>
        </div>
        <hr>
        <div class="row">

            <div class="col-md-2" >

                <input class="btn btn-primary" type="button" value="Calculate Ratings"
                       ng-click="calculateRiskRating('ANNUAL_INCOME')"/>

            </div>

            <div class="col-md-2" >

                <input class="btn btn-primary" type="button" value="Calculate Rollup"
                       ng-click="calculateRiskRollup('ANNUAL_INCOME')"/>

            </div>

        </div>
	</div>
</div>






