
<div class="panel panel-default">
	<div class="panel-heading">Insured/Owner</div>

	<div class="panel-body">

        <div class="row">
            <label class="col-md-6 control-label">Insured Age</label>
            <div class="col-md-3" >

                <input name="insuredAge" placeholder="Enter Insured age"
                       ng-required="true" type="text"
                       ng-model="principalInsured.insured.insuredAge" class="form-control">

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.insuredAge.$error.required">**</span>
            </div>
        </div>
        <div class="row">
            <label class="col-md-6 control-label">Occupation Type</label>
            <div class="col-md-3" >

                <select name="occupation_type" type="checkbox" class="form-control"
                        ng-model="principalInsured.insured.occupationType" ng-required="true">
                    <option value="">Select One</option>
                    <option value="ACTOR">ACTOR</option>
                    <option value="ACTRESS">ACTRESS</option>
                    <option value="AMUSEMENT_WORKER_MISC">AMUSEMENT_WORKER (MISC)</option>
                    <option value="ASBESTOS_INSULATION_INSTALLER">ASBESTOS/INSULATION_INSTALLER</option>
                    <option value="BACTERIOLOGIST">BACTERIOLOGIST</option>
                </select>

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.occupation_type.$error.required">**</span>
            </div>
        </div>
        <div class="row">
            <label class="col-md-6 control-label">License Available</label>
            <div class="col-md-3" >

                <select name="licenseAvailable" type="checkbox" class="form-control"
                        ng-model="principalInsured.insured.licenseAvailable" ng-required="true">
                    <option value="">Select One</option>
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                </select>

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.licenseAvailable.$error.required">**</span>
            </div>
        </div>
        <div class="row">
            <label class="col-md-6 control-label">Contract State</label>
            <div class="col-md-3" >

                <select name="contractState" type="checkbox" class="form-control"
                        ng-model="principalInsured.insured.contractState" ng-required="true">
                    <option value="">Select One</option>
                    <option value="NY">New York</option>
                    <option value="NJ">New Jersey</option>
                    <option value="VA">Virginia</option>
                    <option value="WA">Washington</option>
                    <option value="NC">North Carolina</option>
                </select>

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.contractState.$error.required">**</span>
            </div>
        </div>
        <div class="row">
            <label class="col-md-6 control-label">License State</label>
            <div class="col-md-3" >

                <select name="licenseState" type="checkbox" class="form-control"
                        ng-model="principalInsured.insured.licenseState" ng-required="true">
                    <option value="">Select One</option>
                    <option value="NY">New York</option>
                    <option value="NJ">New Jersey</option>
                    <option value="VA">Virginia</option>
                    <option value="WA">Washington</option>
                    <option value="NC">North Carolina</option>
                </select>

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.licenseState.$error.required">**</span>
            </div>
        </div>
       
      
        <hr>
        <div class="row">

            <div class="col-md-2" >

                <input class="btn btn-primary" type="button" value="Calculate Ratings"
                       ng-click="calculateRiskRating('AGE')"/>

            </div>

            <div class="col-md-2" >

                <input class="btn btn-primary" type="button" value="Calculate Rollup"
                       ng-click="calculateRiskRollup('AGE')"/>

            </div>

        </div>
	</div>
</div>






