
<div class="panel panel-default">
	<div class="panel-heading">LTC Rider</div>

	<div class="panel-body">

        <div class="row">
            <label class="col-md-6 control-label">LTC</label>
            <div class="col-md-3" >

                <input name="ltcrAppliedFor" placeholder="Enter amount"
                       ng-required="true" type="text"
                       ng-model="principalInsured.policyAppliedFor.ltcrAppliedFor" class="form-control">

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.ltcrAppliedFor.$error.required">**</span>
            </div>
        </div>
        <hr>
        <div class="row">

            <div class="col-md-2" >

                <input class="btn btn-primary" type="button" value="Calculate Ratings"
                       ng-click="calculateRiskRating('LTC_RIDER')"/>

            </div>

            <div class="col-md-2" >

                <input class="btn btn-primary" type="button" value="Calculate Rollup"
                       ng-click="calculateRiskRollup('LTC_RIDER')"/>

            </div>

        </div>
	</div>
</div>






