
<div class="panel panel-default">
	<div class="panel-heading">Military</div>

	<div class="panel-body">

        <div class="row">
            <label class="col-md-6 control-label">Have a written agreement to become, or is currently a member, of the Armed Forces?</label>
            <div class="col-md-2" >

                <select name="memberOfArmedForces" type="checkbox" class="form-control"
                        ng-model="principalInsured.military.memberOfArmedForces" ng-required="true">
                    <option value="">Select One</option>
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                </select>

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.memberOfArmedForces.$error.required">**</span>
            </div>
        </div>
        <div class="row" ng-if="principalInsured.military.memberOfArmedForces == 'Y'">
            <label class="col-md-7 col-md-offset-1 control-label">Are you currenlty activated for duty?</label>
            <div class="col-md-2" >

                <select name="activatedForDuty" type="checkbox" class="form-control"
                        ng-model="principalInsured.military.activatedForDuty" ng-required="true">
                    <option value="">Select One</option>
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                </select>

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.activatedForDuty.$error.required">**</span>
            </div>
        </div>
        <div class="row" ng-if="principalInsured.military.memberOfArmedForces == 'Y'">
            <label class="col-md-7 col-md-offset-1 control-label">Are you a member of the Special Forces?</label>
            <div class="col-md-2" >

                <select name="memberOfSpecialForces" type="checkbox" class="form-control"
                        ng-model="principalInsured.military.memberOfSpecialForces" ng-required="true">
                    <option value="">Select One</option>
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                </select>


            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.memberOfSpecialForces.$error.required">**</span>
            </div>
        </div>
        <div class="row" ng-if="principalInsured.military.memberOfArmedForces == 'Y'">
            <label class="col-md-7 col-md-offset-1 control-label">If National Guard/Reserves and you are currently activated for full time duty?</label>
            <div class="col-md-2" >

                <select name="activatedForDutyAsNationalGuardOrReserve" type="checkbox" class="form-control"
                        ng-model="principalInsured.military.activatedForDutyAsNationalGuardOrReserve" ng-required="true">
                    <option value="">Select One</option>
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                </select>


            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.activatedForDutyAsNationalGuardOrReserve.$error.required">**</span>
            </div>
        </div>
        <div class="row" ng-if="principalInsured.military.memberOfArmedForces == 'Y'">
            <label class="col-md-7 col-md-offset-1 control-label">Select active duty?</label>
            <div class="col-md-2" >

                <select name="duties" type="checkbox" class="form-control"
                        ng-model="principalInsured.military.duties" ng-required="true">
                    <option value="">Select One</option>
                    <option value="parachute jumping">parachute jumping</option>
                    <option value="demolition of explosives">demolition of explosives</option>
                    <option value="other">other</option>
                </select>


            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.duties.$error.required">**</span>
            </div>
        </div>
        <div class="row" ng-if="principalInsured.military.memberOfArmedForces == 'Y'">
            <label class="col-md-7 col-md-offset-1 control-label">Alerted or received orders for duty outside the U.S.?</label>
            <div class="col-md-2" >

                <select name="dutyOutsideOfCountry" type="checkbox" class="form-control"
                        ng-model="principalInsured.military.dutyOutsideOfCountry" ng-required="true">
                    <option value="">Select One</option>
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                </select>

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.dutyOutsideOfCountry.$error.required">**</span>
            </div>
        </div>
        <hr>
        <div class="row">

            <div class="col-md-2" >

                <input class="btn btn-primary" type="button" value="Calculate Ratings"
                       ng-click="calculateRiskRating('MILITARY')"/>

            </div>
            <div class="col-md-2" >

                <input class="btn btn-primary" type="button" value="Calculate Rollup"
                       ng-click="calculateRiskRollup('MILITARY')"/>

            </div>

        </div>
	</div>
</div>






