
<div class="panel panel-default">
	<div class="panel-heading">Owner Beneficiary</div>

	<div class="panel-body">

        <div class="row">
            <label class="col-md-5 control-label">Beneficiary Relationship</label>
            <div class="col-md-4" >

                <select name="beneficiaryRelationship" type="checkbox" class="form-control"
                        ng-model="principalInsured.ownerBeneficary.beneficiaryRelationship" ng-required="true">
                    <option value="">Select One</option>
                    <option value="OLI_OTHER">OLI_OTHER(2147483647)</option>
                    <option value="OLI_REL_FORMERSPOUSE">OLI_REL_FORMERSPOUSE(174)</option>
                    <option value="OLI_REL_SPOUSE">OLI_REL_SPOUSE(1)</option>
                    <option value="OLI_REL_CHILD">OLI_REL_CHILD(2)</option>
                    <option value="OLI_REL_PARENT">OLI_REL_PARENT(3)</option>
                    <option value="OLI_REL_SIBLING">OLI_REL_SIBLING(4)</option>
                    <option value="OLI_REL_EMPLOYER">OLI_REL_EMPLOYER(7)</option>
                    <option value="OLI_REL_PARTNER">OLI_REL_PARTNER(9)</option>
                    <option value="OLI_REL_DOMPART">OLI_REL_DOMPART(15)</option>
                    <option value="OLI_REL_GRANDPARENT">OLI_REL_GRANDPARENT(92)</option>
                    <option value="OLI_REL_LEGALGUARD">OLI_REL_LEGALGUARD(27)</option>
                    <option value="OLI_REL_BUSINESSASSOCIATE">OLI_REL_BUSINESSASSOCIATE(146)</option>
                    <option value="OLI_PARTICROLE_PRIMARY">OLI_PARTICROLE_PRIMARY(1)</option>
                </select>

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.beneficiaryRelationship.$error.required">**</span>
            </div>
        </div>
        <div class="row">
            <label class="col-md-5 control-label">Owner Relationship</label>
            <div class="col-md-4" >

                <select name="ownerRelationship" type="checkbox" class="form-control"
                        ng-model="principalInsured.ownerBeneficary.ownerRelationship" ng-required="true">
                    <option value="">Select One</option>
                    <option value="OLI_OTHER">OLI_OTHER(2147483647)</option>
                    <option value="OLI_REL_FORMERSPOUSE">OLI_REL_FORMERSPOUSE(174)</option>
                    <option value="OLI_REL_SPOUSE">OLI_REL_SPOUSE(1)</option>
                    <option value="OLI_REL_CHILD">OLI_REL_CHILD(2)</option>
                    <option value="OLI_REL_PARENT">OLI_REL_PARENT(3)</option>
                    <option value="OLI_REL_SIBLING">OLI_REL_SIBLING(4)</option>
                    <option value="OLI_REL_EMPLOYER">OLI_REL_EMPLOYER(7)</option>
                    <option value="OLI_REL_PARTNER">OLI_REL_PARTNER(9)</option>
                    <option value="OLI_REL_DOMPART">OLI_REL_DOMPART(15)</option>
                    <option value="OLI_REL_GRANDPARENT">OLI_REL_GRANDPARENT(92)</option>
                    <option value="OLI_REL_LEGALGUARD">OLI_REL_LEGALGUARD(27)</option>
                    <option value="OLI_REL_BUSINESSASSOCIATE">OLI_REL_BUSINESSASSOCIATE(146)</option>
                    <option value="OLI_PARTICROLE_PRIMARY">OLI_PARTICROLE_PRIMARY(1)</option>
                </select>

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.ownerRelationship.$error.required">**</span>
            </div>
        </div>
        <hr>
        <div class="row">

            <div class="col-md-2" >

                <input class="btn btn-primary" type="button" value="Calculate Ratings"
                       ng-click="calculateRiskRating('OWNERSHIP')"/> <!-- BENEFICIARY -->

            </div>

            <div class="col-md-2" >

                <input class="btn btn-primary" type="button" value="Calculate Rollup"
                       ng-click="calculateRiskRollup('OWNERSHIP')"/>    <!-- BENEFICIARY -->

            </div>

        </div>
	</div>
</div>






