<div class="insurance_demo">
    <div init-header="part1" header-label="Insurance Demo - Part I"></div>

    <form name="mainForm" class="body form-horizontal insurance-form">

    <div class="row">

        <div class="col-md-1"></div>
        <div class="col-md-8 tab-heading">

            <tabset>

                <tab heading="Insured/Owner">

                    <div class="well" style="border-top: 0px;">
                        <div data-ng-include="'client/app/components/part1/view/insured_view.html'"></div>
                    </div>
                </tab>
                <tab heading="ALIR">

                    <div class="well" style="border-top: 0px;">
                        <div data-ng-include="'client/app/components/part1/view/alir_view.html'"></div>
                    </div>
                </tab>
                <tab heading="Amount At Risk">

                    <div class="well" style="border-top: 0px;">
                        <div data-ng-include="'client/app/components/part1/view/amount_at_risk_view.html'"></div>
                    </div>
                </tab>
                <tab heading="Aviation">

                    <div class="well" style="border-top: 0px;">
                        <div data-ng-include="'client/app/components/part1/view/aviation_view.html'"></div>
                    </div>
                </tab>
                <tab heading="Avocation">

                    <div class="well" style="border-top: 0px;">
                        <div data-ng-include="'client/app/components/part1/view/avocation_view.html'"></div>
                    </div>
                </tab>

                <tab heading="Citizenship">

                    <div class="well" style="border-top: 0px;">
                        <div data-ng-include="'client/app/components/part1/view/citizenship_view.html'"></div>
                    </div>
                </tab>
                <tab heading="Disability">

                    <div class="well" style="border-top: 0px;">
                        <div data-ng-include="'client/app/components/part1/view/disability_view.html'"></div>
                    </div>
                </tab>
                <tab heading="Dui">

                    <div class="well" style="border-top: 0px;">
                        <div data-ng-include="'client/app/components/part1/view/dui_view.html'"></div>
                    </div>
                </tab>

                <tab heading="Family Limits">

                    <div class="well" style="border-top: 0px;">
                        <div data-ng-include="'client/app/components/part1/view/family_limit_view.html'"></div>
                    </div>
                </tab>
               
                <tab heading="Felony">

                    <div class="well" style="border-top: 0px;">
                       
                        <div data-ng-include="'client/app/components/part1/view/felony_view.html'"></div>
                    </div>

                </tab>
                <tab heading="Foreign Travel">

                    <div class="well" style="border-top: 0px;">
                        <div data-ng-include="'client/app/components/part1/view/foreign_travel_view.html'"></div>
                    </div>
                </tab>
                <tab heading="Household">

                    <div class="well" style="border-top: 0px;">
                        <div data-ng-include="'client/app/components/part1/view/household_view.html'"></div>
                    </div>
                </tab>
                <tab heading="Income">

                    <div class="well" style="border-top: 0px;">
                        <div data-ng-include="'client/app/components/part1/view/income_view.html'"></div>
                    </div>
                </tab>

                <!--<tab heading="LISR">-->

                    <!--<div class="well" style="border-top: 0px;">-->
                        <!--<div data-ng-include="'client/app/components/part1/view/supplement_rider_view.html'"></div>-->
                    <!--</div>-->
                <!--</tab>-->
                <tab heading="LTC Rider">

                    <div class="well" style="border-top: 0px;">
                        <div data-ng-include="'client/app/components/part1/view/ltc_rider_view.html'"></div>
                    </div>
                </tab>
                <!--<tab heading="Max Face Amount">-->

                    <!--<div class="well" style="border-top: 0px;">-->
                        <!--<div data-ng-include="'client/app/components/part1/view/max_face_amount_view.html'"></div>-->
                    <!--</div>-->
                <!--</tab>-->
                <tab heading="Military">

                    <div class="well" style="border-top: 0px;">
                        <div data-ng-include="'client/app/components/part1/view/military_view.html'"></div>
                    </div>
                </tab>
                <tab heading="Other Coverage Replacement">

                    <div class="well" style="border-top: 0px;">
                        <div data-ng-include="'client/app/components/part1/view/other_coverage_replacement_view.html'"></div>
                    </div>
                </tab>
                <tab heading="Owner Beneficiary">

                    <div class="well" style="border-top: 0px;">
                        <div data-ng-include="'client/app/components/part1/view/owner_beneficiary_view.html'"></div>
                    </div>
                </tab>
                <tab heading="Premium Payor">

                    <div class="well" style="border-top: 0px;">
                        <div data-ng-include="'client/app/components/part1/view/premium_payor_view.html'"></div>
                    </div>
                </tab>
                <tab heading="Purpose of Insurance">

                    <div class="well" style="border-top: 0px;">
                        <div data-ng-include="'client/app/components/part1/view/purpose_of_insurance_view.html'"></div>
                    </div>
                </tab>
                <!--<tab heading="RTR">-->

                    <!--<div class="well" style="border-top: 0px;">-->
                        <!--<div data-ng-include="'client/app/components/part1/view/rt_rider_view.html'"></div>-->
                    <!--</div>-->
                <!--</tab>-->
                <tab heading="Smoking">

                    <div class="well" style="border-top: 0px;">

                        <div data-ng-include="'client/app/components/part1/view/smoking_view.html'"></div>

                    </div>
                </tab>
                <tab heading="Source of Premium">

                    <div class="well" style="border-top: 0px;">
                        <div data-ng-include="'client/app/components/part1/view/source_of_premium_view.html'"></div>
                    </div>
                </tab>
                <!--<tab heading="Term Rider">-->

                    <!--<div class="well" style="border-top: 0px;">-->
                        <!--<div data-ng-include="'client/app/components/part1/view/term_rider_view.html'"></div>-->
                    <!--</div>-->
                <!--</tab>-->

                <tab heading="TLIR">

                    <div class="well" style="border-top: 0px;">
                        <div data-ng-include="'client/app/components/part1/view/temporary_life_insurance_receipt_view.html'"></div>
                    </div>
                </tab>
                <!--<tab heading="Total Insured Amount">-->

                    <!--<div class="well" style="border-top: 0px;">-->
                        <!--<div data-ng-include="'client/app/components/part1/view/total_insured_amount_view.html'"></div>-->
                    <!--</div>-->
                <!--</tab>-->
                <tab heading="Unemployment">

                    <div class="well" style="border-top: 0px;">
                        <div data-ng-include="'client/app/components/part1/view/unemployment_view.html'"></div>
                    </div>
                </tab>
                <tab heading="Waiver of Premium">

                    <div class="well" style="border-top: 0px;">
                        <div data-ng-include="'client/app/components/part1/view/waiver_of_premium_view.html'"></div>
                    </div>
                </tab>
            </tabset>

        </div>

        <div class="col-md-3">

            <nav class="hidden-print hidden-xs hidden-sm affix" style="right: 10px; width: 300px;">
                <div class="well">
                    <div class="row group-heading">
                        <div class="col-md-12">Available Tasks</div>
                    </div>

                    <div class="row group-body">

                        <div class="col-md-6">

                            <div style="margin-bottom: 5px;width: 80px;">
                                <input class="btn btn-default" type="button" value="Clear"
                                       ng-click="resetQuote()"/>
                            </div>

                        </div>

                    </div>
                    <div class="row group-body">

                        <div class="col-md-6">

                            <input type="button" class="btn btn-success"
                                   value="Calculate Final Risk Rollup"
                                   ng-click="calculateRiskRollup('ALL')"/>


                        </div>
                    </div>
                    <div class="row group-body">

                        <div class="col-md-6">

                            <input type="button" class="btn btn-success"
                                   value="Calculate Final Risk Summary"
                                   ng-click="calculateRiskSummaryResults('ALL')"/>


                        </div>
                    </div>

                    <div class="row group-body">

                        <div class="col-md-6">

                            <input type="button" class="btn btn-success"
                                   value="Risk Summary - Show Differences"
                                   ng-click="calculateRiskSummaryDiff('ALL')"/>


                        </div>
                    </div>

                </div>

                <div class="panel panel-default">
                    <div class="group-heading">Validation Messages</div>

                    <div class="panel-body">


                        <div class="panel panel-danger" ng-if="warningQuoteMessages > 0">
                            <div class="group-heading">Warning</div>
                            <div class="group-body">
                                <ul class="list-group">

                                    <li class="list-group-item" ng-repeat="qu in warningQuoteMessages ">
                                        {{qu.message}}
                                    </li>
                                </ul>
                            </div>
                        </div>


                        <div class="panel panel-danger" ng-if="infoQuoteMessages.length > 0">
                            <div class="group-heading">Information</div>
                            <div class="group-body">
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="qu in infoQuoteMessages ">{{qu.message}}
                                        <span style="display:none">{{qu}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>


                        <div class="row" ng-if="errorQuoteMessages.length > 0">
                            <div class="group-heading">Errors</div>
                            <div class="group-body">
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="qu in errorQuoteMessages | orderBy:'message' ">{{qu.message}}
                                        <span style="display:none">{{qu}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12" ng-show="quoteStatus == QuoteStatus.FORM_INCOMPLETE">

                                <p class="text-danger text-left" tooltip="{{requiredFieldList}}" style="width: 380px;">
                                    Some fields are still required.<br>
                                    Please complete all required fields to complete the quote.
                                </p>
                            </div>

                        </div>

                    </div>
                </div>

            </nav>

        </div>

    </div>
</form>

</div>
