
<div class="panel panel-default">
	<div class="panel-heading">Premium Payor</div>

	<div class="panel-body">

        <div class="row">
            <label class="col-md-5 control-label">Premium Payer</label>
            <div class="col-md-4" >

                <select name="premiumPayer" type="checkbox" class="form-control"
                        ng-model="principalInsured.paymentInformation.premiumPayer" ng-required="true">
                    <option value="">Select One</option>
                    <option value="2147483647">OLI_OTHER(2147483647)</option>
                    <option value="6">OLI_PARTICROLE_JOINT(6)</option>
                    <option value="18">OLI_PARTICROLE_OWNER(18)</option>
                    <option value="0">OLI_UNKNOWN(0)</option>
                    <option value="1">OLI_PARTICROLE_PRIMARY(1)</option>
                </select>

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.premiumPayer.$error.required">**</span>
            </div>
        </div>
        <hr>
        <div class="row">

            <div class="col-md-2" >

                <input class="btn btn-primary" type="button" value="Calculate Ratings"
                       ng-click="calculateRiskRating('PREMIUM_PAYER')"/>

            </div>

            <div class="col-md-2" >

                <input class="btn btn-primary" type="button" value="Calculate Rollup"
                       ng-click="calculateRiskRollup('PREMIUM_PAYER')"/>

            </div>

        </div>
	</div>
</div>






