
<div class="panel panel-default">
	<div class="panel-heading">Purpose of Insurance</div>

	<div class="panel-body">

        <div class="row">
            <label class="col-md-5 control-label">Personal Use</label>
            <div class="col-md-4" >

                <select name="personalUse" type="checkbox" class="form-control"
                        ng-model="principalInsured.purposeOfInsurance.personalUse" ng-required="true">
                    <option value="">Select One</option>
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                </select>

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.personalUse.$error.required">**</span>
            </div>
        </div>
        <div class="row">
            <label class="col-md-5 control-label">Business Use</label>
            <div class="col-md-4" >

                <select name="businessUse" type="checkbox" class="form-control"
                        ng-model="principalInsured.purposeOfInsurance.businessUse" ng-required="true">
                    <option value="">Select One</option>
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                </select>

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.businessUse.$error.required">**</span>
            </div>
        </div>
        <div class="row">
            <label class="col-md-5 control-label">Proposed Purpose</label>
            <div class="col-md-4" >

                <select name="proposedPurpose" type="checkbox" class="form-control"
                        ng-model="principalInsured.purposeOfInsurance.proposedPurpose" ng-required="true">
                    <option value="">Select One</option>
                    <option value="OLI_OTHER">OLI_OTHER (2147483647)</option>
                    <option value="OLI_NEED_CHARITABLE">OLI_NEED_CHARITABLE (0)</option>
                    <option value="OLI_NEED_EDFUNDING">OLI_NEED_EDFUNDING (4)</option>
                    <option value="OLI_NEED_RETIRE">OLI_NEED_RETIRE (7)</option>
                    <option value="OLI_NEED_ESTATE">OLI_NEED_ESTATE (10)</option>
                    <option value="OLI_NEED_FAMINC">OLI_NEED_FAMINC (17)</option>
                    <option value="OLI_NEED_MORT">OLI_NEED_MORT (18)</option>
                    <option value="OLI_NEED_ASSETPROTECT">OLI_NEED_ASSETPROTECT (32)</option>
                    <option value="OLI_NEED_BUYSEL">OLI_NEED_BUYSEL (35)</option>
                    <option value="OLI_NEED_KEYPERSON">OLI_NEED_KEYPERSON (36)</option>
                    <option value="OLI_NEED_LOANINDEMN">OLI_NEED_LOANINDEMN (39)</option>
                    <option value="OLI_NEED_TRUST">OLI_NEED_TRUST (57)</option>
                </select>

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.proposedPurpose.$error.required">**</span>
            </div>
        </div>
        <div class="row">
            <label class="col-md-5 control-label">Collaterally Assigned</label>
            <div class="col-md-4" >

                <select name="collaterallyAssigned" type="checkbox" class="form-control"
                        ng-model="principalInsured.purposeOfInsurance.collaterallyAssigned" ng-required="true">
                    <option value="">Select One</option>
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                </select>

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.collaterallyAssigned.$error.required">**</span>
            </div>
        </div>
        <div class="row">
            <label class="col-md-5 control-label">Captive Insurer</label>
            <div class="col-md-4" >

                <select name="captiveInsurer" type="checkbox" class="form-control"
                        ng-model="principalInsured.purposeOfInsurance.captiveInsurer" ng-required="true">
                    <option value="">Select One</option>
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                </select>

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.captiveInsurer.$error.required">**</span>
            </div>
        </div>
        <div class="row">
            <label class="col-md-5 control-label">Economic Incentive</label>
            <div class="col-md-4" >

                <select name="economicIncentive" type="checkbox" class="form-control"
                        ng-model="principalInsured.purposeOfInsurance.economicIncentive" ng-required="true">
                    <option value="">Select One</option>
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                </select>

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.economicIncentive.$error.required">**</span>
            </div>
        </div>
        <div class="row">
            <label class="col-md-5 control-label">Premium From Captive</label>
            <div class="col-md-4" >

                <select name="premFromCaptive" type="checkbox" class="form-control"
                        ng-model="principalInsured.purposeOfInsurance.premFromCaptive" ng-required="true">
                    <option value="">Select One</option>
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                </select>

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.premFromCaptive.$error.required">**</span>
            </div>
        </div>
        <div class="row">
            <label class="col-md-5 control-label">Planned Life Settlement</label>
            <div class="col-md-4" >

                <select name="plannedLifeSettlement" type="checkbox" class="form-control"
                        ng-model="principalInsured.purposeOfInsurance.plannedLifeSettlement" ng-required="true">
                    <option value="">Select One</option>
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                </select>

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.plannedLifeSettlement.$error.required">**</span>
            </div>
        </div>
        <div class="row">
            <label class="col-md-5 control-label">Private Questions</label>
        </div>
        <div class="row">
            <div class="col-md-12 well">
                <div class="row">
                    <label class="col-md-3 control-label">Income Of Dependents</label>
                    <div class="col-md-1" >

                        <input name="incomeOfDependents" type="checkbox"
                               ng-model="principalInsured.purposeOfInsurance.incomeOfDependents"
                               ng-true-value="'Y'" ng-false-value="'N'">

                    </div>
                    <div class="col-md-1">
                        <span class="required" ng-show="mainForm.incomeOfDependents.$error.required">**</span>
                    </div>
                    <label class="col-md-3 control-label">Future Insurability</label>
                    <div class="col-md-1" >

                        <input name="incomeOfDependents" type="checkbox"
                               ng-model="principalInsured.purposeOfInsurance.futureInsurability"
                               ng-true-value="'Y'" ng-false-value="'N'">

                    </div>
                    <div class="col-md-1">
                        <span class="required" ng-show="mainForm.futureInsurability.$error.required">**</span>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-3 control-label">Charitable Giving</label>
                    <div class="col-md-1" >

                        <input name="charitableGiving" type="checkbox"
                               ng-model="principalInsured.purposeOfInsurance.charitableGiving"
                               ng-true-value="'Y'" ng-false-value="'N'">

                    </div>
                    <div class="col-md-1">
                        <span class="required" ng-show="mainForm.charitableGiving.$error.required">**</span>
                    </div>
                    <label class="col-md-3 control-label">Revocable Trust</label>
                    <div class="col-md-1" >

                        <input name="revocableTrust" type="checkbox"
                               ng-model="principalInsured.purposeOfInsurance.revocableTrust"
                               ng-true-value="'Y'" ng-false-value="'N'">

                    </div>
                    <div class="col-md-1">
                        <span class="required" ng-show="mainForm.revocableTrust.$error.required">**</span>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-3 control-label">Estate Taxes</label>
                    <div class="col-md-1" >

                        <input name="estateTaxes" type="checkbox"
                               ng-model="principalInsured.purposeOfInsurance.estateTaxes"
                               ng-true-value="'Y'" ng-false-value="'N'">

                    </div>
                    <div class="col-md-1">
                        <span class="required" ng-show="mainForm.estateTaxes.$error.required">**</span>
                    </div>
                    <label class="col-md-3 control-label">Retirement Planning</label>
                    <div class="col-md-1" >

                        <input name="retirementPlanning" type="checkbox"
                               ng-model="principalInsured.purposeOfInsurance.retirementPlanning"
                               ng-true-value="'Y'" ng-false-value="'N'">

                    </div>
                    <div class="col-md-1">
                        <span class="required" ng-show="mainForm.retirementPlanning.$error.required">**</span>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-3 control-label">Asset Protection</label>
                    <div class="col-md-1" >

                        <input name="assetProtection" type="checkbox"
                               ng-model="principalInsured.purposeOfInsurance.assetProtection"
                               ng-true-value="'Y'" ng-false-value="'N'">

                    </div>
                    <div class="col-md-1">
                        <span class="required" ng-show="mainForm.assetProtection.$error.required">**</span>
                    </div>
                    <label class="col-md-3 control-label">Mortgage</label>
                    <div class="col-md-1" >

                        <input name="mortgage" type="checkbox"
                               ng-model="principalInsured.purposeOfInsurance.mortgage"
                               ng-true-value="'Y'" ng-false-value="'N'">

                    </div>
                    <div class="col-md-1">
                        <span class="required" ng-show="mainForm.mortgage.$error.required">**</span>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-3 control-label">Education Fund</label>
                    <div class="col-md-1" >

                        <input name="educationFund" type="checkbox"
                               ng-model="principalInsured.purposeOfInsurance.educationFund"
                               ng-true-value="'Y'" ng-false-value="'N'">

                    </div>
                    <div class="col-md-1">
                        <span class="required" ng-show="mainForm.educationFund.$error.required">**</span>
                    </div>
                    <label class="col-md-3 control-label">irrevocableTrust</label>
                    <div class="col-md-1" >

                        <input name="irrevocableTrust" type="checkbox"
                               ng-model="principalInsured.purposeOfInsurance.irrevocableTrust"
                               ng-true-value="'Y'" ng-false-value="'N'">

                    </div>
                    <div class="col-md-1">
                        <span class="required" ng-show="mainForm.irrevocableTrust.$error.required">**</span>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-3 control-label">Other Personal Needs</label>
                    <div class="col-md-3">

                        <input name="otherPersonalNeeds" type="text"
                               ng-model="principalInsured.purposeOfInsurance.otherPersonalNeeds"
                               ng-true-value="'Y'" ng-false-value="'N'">

                    </div>
                    <div class="col-md-1">
                        <span class="required" ng-show="mainForm.otherPersonalNeeds.$error.required">**</span>
                    </div>

                </div>
            </div>
        </div>
        <hr>
        <div class="row">

            <div class="col-md-2" >

                <input class="btn btn-primary" type="button" value="Calculate Ratings"
                       ng-click="calculateRiskRating('PURPOSE_OF_INSURANCE')"/> <!-- ASSIGNMENT_INTENDED CAPTIVE_INSURANCE_CO ECONOMIC_INCENTIVE PREMIUM_SOURCE, VIATICAL -->

            </div>

            <div class="col-md-2" >

                <input class="btn btn-primary" type="button" value="Calculate Rollup"
                       ng-click="calculateRiskRollup('PURPOSE_OF_INSURANCE')"/>

            </div>

        </div>
	</div>
</div>






