
<div class="panel panel-default">
	<div class="panel-heading">Smoking</div>

	<div class="panel-body">

    <div class="row">
        <label class="col-md-12 control-label">Used tobacco or other nicotine containing products except cigars (e.g. cigarettes, e-cigarettes, pipes, snuff, chewing
            tobacco or nicotine delivery device such as gum or the patch):</label>
    </div>
        <div class="row">
            <label class="col-md-7 col-md-offset-1 control-label">Within the last 12 months?</label>
            <div class="col-md-2" >

                <select name="usedPast12Months" type="checkbox" class="form-control"
                        ng-model="principalInsured.smoking.usedPast12Months" ng-required="true">
                    <option value="">Select One</option>
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                </select>

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.usedPast12Months.$error.required">**</span>
            </div>
        </div>
        <div class="row">
            <label class="col-md-7 col-md-offset-1 control-label">Within the last 24 months?</label>
            <div class="col-md-2" >

                <select name="usedPast24Months" type="checkbox" class="form-control"
                        ng-model="principalInsured.smoking.usedPast24Months" ng-required="true">
                    <option value="">Select One</option>
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                </select>

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.usedPast24Months.$error.required">**</span>
            </div>
        </div>
        <div class="row">
            <label class="col-md-8 control-label">Used cigars within the last 24 months?</label>
            <div class="col-md-2" >

                <select name="usedCigarsPast12Months" type="checkbox" class="form-control"
                        ng-model="principalInsured.smoking.usedCigarsPast12Months" ng-required="true">
                    <option value="">Select One</option>
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                </select>

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.usedCigarsPast12Months.$error.required">**</span>
            </div>
        </div>
        <div class="row" ng-if="principalInsured.smoking.usedCigarsPast12Months == 'Y'">
            <label class="col-md-7 col-md-offset-1 control-label">If Yes, provide number of cigars per year:</label>
            <div class="col-md-2" >

                <input name="annualCigarCount"
                       placeholder="Enter Cigar Count"
                       ng-required="true" type="text"
                       ng-model="principalInsured.smoking.annualCigarCount" class="form-control">

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.annualCigarCount.$error.required">**</span>
            </div>
        </div>
        <div class="row">
            <label class="col-md-8 control-label">Used a prescription medication to assist with smoking cessation or as a substitute for smoking (e.g. Chantix, Wellbutrin,
                etc.) within the last 12 months?</label>
            <div class="col-md-2" >

                <select name="usedTobaccoCessationAides" type="checkbox" class="form-control"
                        ng-model="principalInsured.smoking.usedTobaccoCessationAides" ng-required="true">
                    <option value="">Select One</option>
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                </select>

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.usedTobaccoCessationAides.$error.required">**</span>
            </div>
        </div>
        <hr>
        <div class="row">

            <div class="col-md-2" >

                <input class="btn btn-primary" type="button" value="Calculate Ratings"
                       ng-click="calculateRiskRating('SMOKER')"/>

            </div>

            <div class="col-md-2" >

                <input class="btn btn-primary" type="button" value="Calculate Rollup"
                       ng-click="calculateRiskRollup('SMOKER')"/>

            </div>

        </div>
	</div>
</div>






