
<div class="panel panel-default">
	<div class="panel-heading">Source of Premium</div>

	<div class="panel-body">

        <div class="row">
            <label class="col-md-5 control-label">Premium Source</label>
            <div class="col-md-4" >

                <select name="premiumSource" type="checkbox" class="form-control"
                        ng-model="principalInsured.paymentInformation.premiumSource" ng-required="true">
                    <option value="">Select One</option>
                    <option value="2147483647">OLI_OTHER(2147483647)</option>
                    <option value="1013200001,">OLI_Premium Financing Arrangements (1013200001)</option>
                </select>

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.premiumSource.$error.required">**</span>
            </div>
        </div>
        <hr>
        <div class="row">

            <div class="col-md-2" >

                <input class="btn btn-primary" type="button" value="Calculate Ratings"
                       ng-click="calculateRiskRating('SOURCE_OF_PREMIUM')"/>

            </div>

            <div class="col-md-2" >

                <input class="btn btn-primary" type="button" value="Calculate Rollup"
                       ng-click="calculateRiskRollup('SOURCE_OF_PREMIUM')"/>

            </div>

        </div>
	</div>
</div>






