
<div class="panel panel-default">
	<div class="panel-heading">Temporary Life Insurance Receipt</div>

	<div class="panel-body">

        <div class="row">
            <label class="col-md-6 control-label">Has the proposed insured been treated for the conditions enumerated within the past two years?</label>
            <div class="col-md-3" >

                <select name="question1a" type="checkbox" class="form-control"
                        ng-model="principalInsured.temporaryLifeInsuranceReceipt.question1a" ng-required="true">
                    <option value="">Select One</option>
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                </select>

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.question1a.$error.required">**</span>
            </div>
        </div>
        <div class="row">
            <label class="col-md-6 control-label">Are the situations enumerated applicable to the proposed insured?</label>
            <div class="col-md-3" >

                <select name="question1b" type="checkbox" class="form-control"
                        ng-model="principalInsured.temporaryLifeInsuranceReceipt.question1b" ng-required="true">
                    <option value="">Select One</option>
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                </select>

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.question1b.$error.required">**</span>
            </div>
        </div>
        <div class="row">
            <label class="col-md-6 control-label">Are there any planned medical tests or examinations scheduled for the proposed insured during the next 90 days?</label>
            <div class="col-md-3" >

                <select name="question2" type="checkbox" class="form-control"
                        ng-model="principalInsured.temporaryLifeInsuranceReceipt.question2" ng-required="true">
                    <option value="">Select One</option>
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                </select>

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.question2.$error.required">**</span>
            </div>
        </div>
        <div class="row">
            <label class="col-md-5 control-label">Premium Source</label>
            <div class="col-md-4" >

                <select name="premiumSource" type="checkbox" class="form-control"
                        ng-model="principalInsured.paymentInformation.premiumSource" ng-required="true">
                    <option value="">Select One</option>
                    <option value="2147483647">OLI_OTHER(2147483647)</option>
                    <option value="1013200001">OLI_Premium Financing Arrangements (1013200001)</option>
                </select>

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.premiumSource.$error.required">**</span>
            </div>
        </div>
        <hr>
        <div class="row">

            <div class="col-md-2" >

                <input class="btn btn-primary" type="button" value="Calculate Ratings"
                       ng-click="calculateRiskRating('TEMPORARY_LIFE_INSURANCE_RECEIPT')"/>

            </div>

            <div class="col-md-2" >

                <input class="btn btn-primary" type="button" value="Calculate Rollup"
                       ng-click="calculateRiskRollup('TEMPORARY_LIFE_INSURANCE_RECEIPT')"/>

            </div>

        </div>
	</div>
</div>






