
<div class="panel panel-default">
	<div class="panel-heading">Waiver of Premium</div>

	<div class="panel-body">

        <div class="row">
            <label class="col-md-6 control-label">Applied For</label>
            <div class="col-md-3" >

                <select name="waiverOfPremiumAppliedFor" type="checkbox" class="form-control"
                        ng-model="principalInsured.policyAppliedFor.waiverOfPremiumAppliedFor" ng-required="true">
                    <option value="">Select One</option>
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                </select>


            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.waiverOfPremiumAppliedFor.$error.required">**</span>
            </div>
        </div>
        <div class="row">
            <label class="col-md-6 control-label">Requested Face Amount</label>
            <div class="col-md-3" >

                <input name="requestedFaceAmount" placeholder="Enter amount"
                       ng-required="true" type="text"
                       ng-model="principalInsured.policyAppliedFor.requestedFaceAmount" class="form-control">

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.requestedFaceAmount.$error.required">**</span>
            </div>
        </div>
        <div class="row">
            <label class="col-md-6 control-label">Waiver Of Premium Amount</label>
            <div class="col-md-3" >

                <input name="waiverOfPremiumAmount" placeholder="Enter amount"
                       ng-required="true" type="text"
                       ng-model="principalInsured.policyAppliedFor.waiverOfPremiumAmount" class="form-control">

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.waiverOfPremiumAmount.$error.required">**</span>
            </div>
        </div>
        <div class="row">
            <label class="col-md-6 control-label">PCR Face Amount</label>
            <div class="col-md-3" >

                <input name="pcrFaceAmount" placeholder="Enter PCR amount"
                       ng-required="true" type="text"
                       ng-model="principalInsured.policyAppliedFor.pcrFaceAmount" class="form-control">

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.pcrFaceAmount.$error.required">**</span>
            </div>
        </div>
        <div class="row">
            <label class="col-md-6 control-label">Issue Age Based Maximum Limit</label>
            <div class="col-md-3" >

                <input name="issueAgeBasedMaximumLimit" placeholder="Enter amount"
                       ng-required="true" type="text"
                       ng-model="principalInsured.policyAppliedFor.issueAgeBasedMaximumLimit" class="form-control">

            </div>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm.issueAgeBasedMaximumLimit.$error.required">**</span>
            </div>
        </div>
        <hr>
        <div class="row">

            <div class="col-md-2" >

                <input class="btn btn-primary" type="button" value="Calculate Ratings"
                       ng-click="calculateRiskRating('WAIVER_OF_PREMIUM')"/>

            </div>

            <div class="col-md-2" >

                <input class="btn btn-primary" type="button" value="Calculate Rollup"
                       ng-click="calculateRiskRollup('WAIVER_OF_PREMIUM')"/>

            </div>

        </div>
	</div>
</div>






