<div class="insurance_demo">
    <div init-header="blender" header-label="Insurance Demo - Blender"></div>

    <form name="mainForm" class="body form-horizontal insurance-form">

    <div class="row">

        <div class="col-md-1"></div>
        <div class="well col-md-8">
            <div data-ng-include="'client/app/components/blender/view/input_applicant_view.html'"></div>
            <div data-ng-include="'client/app/components/blender/view/input_summary_view.html'"></div>
            <div data-ng-include="'client/app/components/blender/view/input_labs_view.html'"></div>
            <div data-ng-include="'client/app/components/blender/view/blender_mib_response_codes_view.html'"></div>
            <div data-ng-include="'client/app/components/blender/view/output_results_view.html'"></div>

        </div>

        <div class="col-md-3">

            <nav class="hidden-print hidden-xs hidden-sm affix" style="right: 10px; width: 300px;">
                <div class="well">
                    <div class="row group-heading">
                        <div class="col-md-12">Available Tasks</div>
                    </div>

                    <div class="row group-body">

                        <div class="col-md-3">

                            <div style="margin-bottom: 5px;width: 80px;">
                                <input class="btn btn-default" type="button" value="Clear"
                                       ng-click="resetInput()"/>
                            </div>

                        </div>

                        <div class="col-md-6">

                            <input type="button" class="btn btn-success"
                                   value="Calculate Final Results"
                                   ng-click="calculateFinalResults()" scroll-to-tag="output-results-id"/>


                        </div>

                    </div>

                </div>

                <div class="panel panel-default">
                    <div class="group-heading">Validation Messages</div>

                    <div class="panel-body">

                        <div class="row" ng-if="errorMessages.length > 0">
                            <div class="group-heading">Errors</div>
                            <div class="group-body">
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="err in errorMessages ">
                                        <div style="color: red;">{{err.status}}</div>
                                        <div>{{err.msg}}</div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="row" ng-if="missingConditions.length > 0">
                            <div class="group-heading">Missing Conditions</div>
                            <div class="group-body">
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="missing in missingConditions ">
                                        <div style="color: red;">{{missing}}</div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12" ng-show="blenderStatus != 'SUCCESS'">

                                <p class="text-danger text-left" tooltip="{{requiredFieldList}}" style="width: 380px;">
                                    Some fields are still required.<br>
                                    Please complete all required fields to complete the quote.
                                </p>
                            </div>

                        </div>

                    </div>
                </div>

            </nav>

        </div>

    </div>
</form>

</div>
