<div class="panel panel-default">
    <div class="panel-heading">Input - MIB Response Codes</div>

    <div class="panel-body">

        <div class="row">
            <table class="table table-hover table-striped table-condensed table-bordered">
                <thead style="color: #fff; background-color: #286090;">
                <tr>

                    <th>Response Data</th>
                    <th style="width: 5%;">UPNT</th>
                    <th style="width: 5%;">SPNT</th>
                    <th style="width: 5%;">NONT</th>
                    <th style="width: 5%;">SPT</th>
                    <th style="width: 5%;">TOB</th>
                    <th style="width: 5%;">WP</th>
                    <th style="width: 5%;">DIIO</th>


                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="rating in mibRatings">

                    <td class="lab_input">
                        <input placeholder="Enter response data"
                               ng-required="true" type="text"
                               ng-model="rating.responseData" class="form-control">
                    </td>
                    <td ng-class="getRiskClass(rating.upnt)">{{rating.upnt}}</td>
                    <td ng-class="getRiskClass(rating.spnt)">{{rating.spnt}}</td>
                    <td ng-class="getRiskClass(rating.nont)">{{rating.nont}}</td>
                    <td ng-class="getRiskClass(rating.spt)">{{rating.spt}}</td>
                    <td ng-class="getRiskClass(rating.tob)">{{rating.tob}}</td>
                    <td ng-class="getRiskClass(rating.wp)">{{rating.wp}}</td>
                    <td ng-class="getRiskClass(rating.diio)">{{rating.diio}}</td>

                </tr>
                </tbody>
            </table>

        </div>

    </div>
</div>