
<div class="row" style="height: 300px;overflow: scroll;">
<table class="table table-hover table-striped table-condensed table-bordered">
    <thead style="color: #fff; background-color: #286090;">
    <tr>

        <th style="width: 5%;"></th>
        <th style="width: 8%;">Parameter</th>
        <th style="width: 10%;">Sore</th>
        <th style="width: 12%;">Result</th>
        <th style="width: 5%;">Flag</th>
        <th>Flag Details</th>



    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="lab in applicant.labResults">

        <td>
            <input type="checkbox" ng-model="applicableInputLabs[lab.resultType]">
        </td>
        <td>{{lab.resultType}}</td>
        <td class="lab_input">
            <input placeholder="Enter Score"
                   ng-required="true" type="text"
                   ng-model="lab.score" class="form-control"
                   ng-blur="updateTotalScore(lab.score)"
                   ng-init="updateTotalScore(lab.score)">
        </td>
        <td class="lab_input">
            <input placeholder="Enter Result"
                   ng-required="true" type="text"
                   ng-model="lab.result" class="form-control">
        </td>
        <td>{{lab.flag}}</td>
        <td style="{{lab.flag_details != '' ? 'background-color: yellow' : ''}}">{{lab.flag_details}}</td>


    </tr>
    </tbody>
</table>

</div>

<div class="row" style="border-top: 2px solid black; padding-top: 5px;">
    <div class="col-md-6">

        <input type="button" class="btn btn-success"
               value="Calculate Lab Results"
               ng-click="calculateLabResults()"/>


    </div>
</div>





