
<table class="table table-condensed">
    <thead style="color: #fff; background-color: #286090;">
    <tr>

        <th style="width: 5%;"> </th>
        <th style="width: 12%;">Risk Type</th>
        <th>Description</th>

        <th style="width: 5%;">UPNT</th>
        <th style="width: 5%;">SPNT</th>
        <th style="width: 5%;">NONT</th>
        <th style="width: 5%;">SPT</th>
        <th style="width: 5%;">TOB</th>
        <th style="width: 5%;">WP</th>
        <th style="width: 5%;">DIIO</th>
        <th style="width: 5%;">Points</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="rating in labRatings">

        <td>
            <input type="checkbox" ng-model="applicableLabs[rating.riskType]">
        </td>
        <td>{{rating.riskType}}</td>
        <td>{{rating.description}}</td>

        <td class="rating-level" ng-class="getRiskClass(rating.upnt)" ng-click="iterateRiskLevel(rating, 'upnt', rating.upnt)">{{rating.upnt}}</td>
        <td class="rating-level" ng-class="getRiskClass(rating.spnt)" ng-click="iterateRiskLevel(rating, 'spnt', rating.spnt)">{{rating.spnt}}</td>
        <td class="rating-level" ng-class="getRiskClass(rating.nont)" ng-click="iterateRiskLevel(rating, 'nont', rating.nont)">{{rating.nont}}</td>
        <td class="rating-level" ng-class="getRiskClass(rating.spt)" ng-click="iterateRiskLevel(rating, 'spt', rating.spt)">{{rating.spt}}</td>
        <td class="rating-level" ng-class="getRiskClass(rating.tob)" ng-click="iterateRiskLevel(rating, 'tob', rating.tob)">{{rating.tob}}</td>
        <td class="rating-level" ng-class="getRiskClass(rating.wp)" ng-click="iterateRiskLevel(rating, 'wp', rating.wp)">{{rating.wp}}</td>
        <td class="rating-level" ng-class="getRiskClass(rating.diio)" ng-click="iterateRiskLevel(rating, 'diio', rating.diio)">{{rating.diio}}</td>

        <td class="rating-level">

            <input name="preferredPoints_{{$index}}"
                   placeholder="Enter Points"
                   ng-required="true" type="text"
                   ng-model="rating.preferredPoints" class="form-control">

        </td>

    </tr>
    </tbody>
</table>






