
<div class="panel panel-default">
	<div class="panel-heading">Input - Risk Summaries</div>

	<div class="panel-body">

        <div class="row">
        <table class="table table-condensed">
            <thead style="color: #fff; background-color: #286090;">
            <tr>

                <th style="width: 5%;"> </th>
                <th style="width: 12%;">Type</th>
                <th style="width: 48%;">Description</th>

                <th style="width: 5%;">UPNT</th>
                <th style="width: 5%;">SPNT</th>
                <th style="width: 5%;">NONT</th>
                <th style="width: 5%;">SPT</th>
                <th style="width: 5%;">TOB</th>
                <th style="width: 5%;">WP</th>
                <th style="width: 5%;">DIIO</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="summary in ratingSummaries">
                <td colspan="10" style="padding: 0px">
                <table class="table table-condensed" style="margin-bottom:0px">
                    <tbody>
                    <tr>
                        <td style="width: 5%;">
                            <input type="checkbox" ng-model="applicableSummaries[summary.riskSummaryType]">
                        </td>

                        <td style="width: 14%;font-weight: bold;">{{summary.riskSummaryType}}</td>
                        <td>{{summary.description}}</td>

                        <td class="rating-level" ng-class="getRiskClass(summary.upnt)" ng-click="iterateRiskLevel(summary, 'upnt', summary.upnt)">{{summary.upnt}}</td>
                        <td class="rating-level" ng-class="getRiskClass(summary.spnt)" ng-click="iterateRiskLevel(summary, 'spnt', summary.spnt)">{{summary.spnt}}</td>
                        <td class="rating-level" ng-class="getRiskClass(summary.nont)" ng-click="iterateRiskLevel(summary, 'nont', summary.nont)">{{summary.nont}}</td>
                        <td class="rating-level" ng-class="getRiskClass(summary.spt)" ng-click="iterateRiskLevel(summary, 'spt', summary.spt)">{{summary.spt}}</td>
                        <td class="rating-level" ng-class="getRiskClass(summary.tob)" ng-click="iterateRiskLevel(summary, 'tob', summary.tob)">{{summary.tob}}</td>
                        <td class="rating-level" ng-class="getRiskClass(summary.wp)" ng-click="iterateRiskLevel(summary, 'wp', summary.wp)">{{summary.wp}}</td>
                        <td class="rating-level" ng-class="getRiskClass(summary.diio)" ng-click="iterateRiskLevel(summary, 'diio', summary.diio)">{{summary.diio}}</td>
                    </tr>
                    <tr ng-repeat="rollup in summary.riskRatingGroups">
                        <td colspan="10" style="padding: 0px">
                            <table class="table table-condensed" style="margin-bottom:0px">
                                <tbody>
                                <tr>
                                    <td style="width: 5%;"></td>
                                    <td style="width: 12%;">{{rollup.riskType}}</td>
                                    <td colspan="2">{{rollup.description}}</td>

                                    <td class="rating-level" ng-class="getRiskClass(rollup.upnt)" ng-click="iterateRiskLevel(rollup, 'upnt', rollup.upnt)">{{rollup.upnt}}</td>
                                    <td class="rating-level" ng-class="getRiskClass(rollup.spnt)" ng-click="iterateRiskLevel(rollup, 'spnt', rollup.spnt)">{{rollup.spnt}}</td>
                                    <td class="rating-level" ng-class="getRiskClass(rollup.nont)" ng-click="iterateRiskLevel(rollup, 'nont', rollup.nont)">{{rollup.nont}}</td>
                                    <td class="rating-level" ng-class="getRiskClass(rollup.spt)" ng-click="iterateRiskLevel(rollup, 'spt', rollup.spt)">{{rollup.spt}}</td>
                                    <td class="rating-level" ng-class="getRiskClass(rollup.tob)" ng-click="iterateRiskLevel(rollup, 'tob', rollup.tob)">{{rollup.tob}}</td>
                                    <td class="rating-level" ng-class="getRiskClass(rollup.wp)" ng-click="iterateRiskLevel(rollup, 'wp', rollup.wp)">{{rollup.wp}}</td>
                                    <td class="rating-level" ng-class="getRiskClass(rollup.diio)" ng-click="iterateRiskLevel(rollup, 'diio', rollup.diio)">{{rollup.diio}}</td>

                                </tr>

                                <tr ng-repeat="risk in rollup.riskRatings">

                                    <td style="width: 5%;"></td>
                                    <td style="width: 12%;">{{risk.riskType}}</td>
                                    <td>{{risk.description}}</td>
                                    <td style="width: 22%;">
                                        <select name="ruleName" type="checkbox" ng-model="risk.ruleName"
                                                ng-change="updateSummaryRatings(summary, rollup, risk)" style="width: 200px;"
                                                ng-options="rn.value as rn.label for rn in ruleNames | filter:{type:risk.riskType}">
                                            <option value="">Select One</option>
                                        </select>
                                    </td>

                                    <td class="rating-level" ng-class="getRiskClass(risk.upnt)" ng-click="iterateRiskLevel(risk, 'upnt', risk.upnt)">{{risk.upnt}}</td>
                                    <td class="rating-level" ng-class="getRiskClass(risk.spnt)" ng-click="iterateRiskLevel(risk, 'spnt', risk.spnt)">{{risk.spnt}}</td>
                                    <td class="rating-level" ng-class="getRiskClass(risk.nont)" ng-click="iterateRiskLevel(risk, 'nont', risk.nont)">{{risk.nont}}</td>
                                    <td class="rating-level" ng-class="getRiskClass(risk.spt)" ng-click="iterateRiskLevel(risk, 'spt', risk.spt)">{{risk.spt}}</td>
                                    <td class="rating-level" ng-class="getRiskClass(risk.tob)" ng-click="iterateRiskLevel(risk, 'tob', risk.tob)">{{risk.tob}}</td>
                                    <td class="rating-level" ng-class="getRiskClass(risk.wp)" ng-click="iterateRiskLevel(risk, 'wp', risk.wp)">{{risk.wp}}</td>
                                    <td class="rating-level" ng-class="getRiskClass(risk.diio)" ng-click="iterateRiskLevel(risk, 'diio', risk.diio)">{{risk.diio}}</td>

                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>

                    </tbody>
                </table>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

	</div>
</div>






