
<div class="panel panel-default">
	<div class="panel-heading">Input - Applicant</div>

	<div class="panel-body">

        <div class="row">
            <div class="col-md-12" >
                <div class="row">

                    <label class="col-md-1 control-label">Age:</label>

                    <div class="col-md-2" >

                        <input name="applicantAge"
                               placeholder="Enter Age"
                               ng-required="true" type="text"
                               ng-model="applicant.age" class="form-control">

                    </div>
                    <div class="col-md-1" style="width: 5%">
                        <span class="required" ng-show="mainForm.applicantAge.$error.required">**</span>
                    </div>

                    <label class="col-md-1 control-label">Gender:</label>

                    <div class="col-md-2">

                        <select name="applicantSex" type="checkbox" class="form-control"
                                ng-model="applicant.sex" ng-required="true">
                            <option value="">Select One</option>
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                        </select>

                    </div>
                    <div class="col-md-1" style="width: 5%">
                        <span class="required" ng-show="mainForm.applicantSex.$error.required">**</span>
                    </div>
                    <label class="col-md-2 control-label">Birth Date:</label>
                    <div class="col-md-2">


                        <input name="applicant-birthDate" placeholder="YYYY-MM-dd"
                               ng-required="false" type="text"
                               ng-model="applicant.birthDate" class="form-control"/>

                    </div>
                    <div class="col-md-1" style="width: 5%">
                        <span class="required" ng-show="mainForm.applicant-birthDate.$error.required">**</span>
                    </div>

                </div>


            </div>
        </div>
        <div class="row" style="margin-top: 5px;">

            <label class="col-md-2 control-label" style="width: 12%;">Conditions:</label>

            <div class="well col-md-10" >
                <div class="row">
                    <div class="col-md-6">

                        <div class="row">
                            <label class="col-md-7 control-label">Cardiovascular Parents History:</label>
                            <div class="col-md-3" >

                                <select name="cardiovascularParentsHistory" type="checkbox" class="form-control"
                                        ng-model="applicant.conditions.cardiovascularParentsHistory" ng-required="true">
                                    <option value="">Select One</option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>

                            </div>
                            <div class="col-md-1">
                                <span class="required" ng-show="mainForm.cardiovascularParentsHistory.$error.required">**</span>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-md-7 control-label">Antihypertensive Use:</label>
                            <div class="col-md-3" >

                                <select name="antihypertensiveUse" type="checkbox" class="form-control"
                                        ng-model="applicant.conditions.antihypertensiveUse" ng-required="true">
                                    <option value="">Select One</option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>

                            </div>
                            <div class="col-md-1">
                                <span class="required" ng-show="mainForm.antihypertensiveUse.$error.required">**</span>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-7 control-label">Normal EKG Last 2 Years:</label>
                            <div class="col-md-3" >

                                <select name="normalEKGLast2Years" type="checkbox" class="form-control"
                                        ng-model="applicant.conditions.normalEKGLast2Years" ng-required="true">
                                    <option value="">Select One</option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>

                            </div>
                            <div class="col-md-1">
                                <span class="required" ng-show="mainForm.normalEKGLast2Years.$error.required">**</span>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">

                        <div class="row">
                            <label class="col-md-7 control-label">Ebct Credit Last 2 Years:</label>
                            <div class="col-md-4" >

                                <select name="ebctCreditLast2Years" type="checkbox" class="form-control"
                                        ng-model="applicant.conditions.ebctCreditLast2Years" ng-required="true">
                                    <option value="">Select One</option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>

                            </div>
                            <div class="col-md-1">
                                <span class="required" ng-show="mainForm.ebctCreditLast2Years.$error.required">**</span>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-7 control-label">Bnpt Below 125:</label>
                            <div class="col-md-4" >

                                <select name="bnptBelow125" type="checkbox" class="form-control"
                                        ng-model="applicant.conditions.bnptBelow125" ng-required="true">
                                    <option value="">Select One</option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>

                            </div>
                            <div class="col-md-1">
                                <span class="required" ng-show="mainForm.bnptBelow125.$error.required">**</span>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>

        <div class="row" style="margin-top: 5px;">

            <label class="col-md-2 control-label" style="width: 12%;">Lab Slip:</label>

            <div class="well col-md-10" >
                <div class="row">
                    <div class="col-md-6">

                        <div class="row">

                            <label class="col-md-8 control-label">Tobacco Use:</label>
                            <div class="col-md-3">

                                <select name="labSlip-tobaccoUse" type="checkbox" class="form-control"
                                        ng-model="applicant.labSlip.tobaccoUse" ng-required="true">
                                    <option value="">Select One</option>
                                    <option value="Y">Yes</option>
                                    <option value="N">No</option>
                                </select>

                            </div>
                            <div class="col-md-1">
                                <span class="required" ng-show="mainForm.labSlip-tobaccoUse.$error.required">**</span>
                            </div>

                        </div>

                        <div class="row">
                            <label class="col-md-8 control-label">Use Nicotine Delivery System:</label>
                            <div class="col-md-3" >

                                <select name="useNicotineDeliverySystem" type="checkbox" class="form-control"
                                        ng-model="applicant.labSlip.useNicotineDeliverySystem" ng-required="true">
                                    <option value="">Select One</option>
                                    <option value="Y">Yes</option>
                                    <option value="N">No</option>
                                </select>

                            </div>
                            <div class="col-md-1">
                                <span class="required" ng-show="mainForm.useNicotineDeliverySystem.$error.required">**</span>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-8 control-label">Moving Violations:</label>
                            <div class="col-md-3" >

                                <select name="movingViolations" type="checkbox" class="form-control"
                                        ng-model="applicant.labSlip.movingViolations" ng-required="true">
                                    <option value="">Select One</option>
                                    <option value="Y">Yes</option>
                                    <option value="N">No</option>
                                </select>

                            </div>
                            <div class="col-md-1">
                                <span class="required" ng-show="mainForm.movingViolations.$error.required">**</span>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">

                        <div class="row">
                            <label class="col-md-7 control-label">Smoking Duration:</label>
                            <div class="col-md-4" >

                                <select name="labSlip-smokingDuration" type="checkbox" class="form-control"
                                        ng-model="applicant.labSlip.smokingDuration" ng-required="true">
                                    <option value="">Select One</option>
                                    <option value="0">Never</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select>

                            </div>
                            <div class="col-md-1">
                                <span class="required" ng-show="mainForm.labSlip-smokingDuration.$error.required">**</span>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-5 control-label">Height:</label>
                            <div class="col-md-6" >

                                <div class="input-group" style="float:left;">
                                    <input name="applicantHeightFeet" style="width: 50%;"
                                           placeholder="feet"
                                           ng-required="true" type="text"
                                           ng-model="applicant.labSlip.heightFeet" class="form-control">


                                     <input name="applicantHeightInches" style="width: 50%;"
                                            placeholder="inches"
                                            ng-required="true" type="text"
                                            ng-model="applicant.labSlip.heightInches" class="form-control">

                                </div>

                            </div>
                            <div class="col-md-1">
                                <span class="required" ng-show="mainForm.applicantHeightFeet.$error.required || mainForm.applicantHeightInches.$error.required">**</span>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-5 control-label">Weight:</label>
                            <div class="col-md-6" >

                                <input name="applicantWeightPounds"
                                       placeholder="Weight in pounds"
                                       ng-required="true" type="text"
                                       ng-model="applicant.labSlip.weightPounds" class="form-control">

                            </div>
                            <div class="col-md-1">
                                <span class="required" ng-show="mainForm.applicantWeightPounds.$error.required">**</span>
                            </div>
                        </div>


                    </div>
                </div>

            </div>

        </div>


	</div>
</div>






