
<div class="panel panel-default">
	<div class="panel-heading">Input - Labs</div>

	<div class="panel-body">

        <div class="row">

            <tabset>

                <tab heading="Labs Results" active="labTab.results.active">

                    <div class="well" style="border-top: 0px;">

                        <div data-ng-include="'client/app/components/blender/view/input_labs_results_view.html'"></div>

                    </div>
                </tab>
                <tab heading="Labs Detail" active="labTab.details.active">

                    <div class="well" style="border-top: 0px;">
                        <div data-ng-include="'client/app/components/blender/view/input_labs_details_view.html'"></div>
                    </div>
                </tab>
            </tabset>


    </div>
               
	</div>
</div>






