
<div class="panel panel-default">
	<div class="panel-heading" style="background-color: gainsboro;">Output - Results</div>

	<div class="panel-body" style="background-color: gainsboro;">

        <div class="row group-heading-medium">
            <div class="col-md-12">Other Ratings</div>
        </div>
        <div class="row">
            <table class="table table-condensed">
                <thead style="color: #fff; background-color: #286090;">
                <tr>

                    <th style="width: 12%;">Risk Type</th>
                    <th>Description</th>

                    <th style="width: 5%;">UPNT</th>
                    <th style="width: 5%;">SPNT</th>
                    <th style="width: 5%;">NONT</th>
                    <th style="width: 5%;">SPT</th>
                    <th style="width: 5%;">TOB</th>
                    <th style="width: 5%;">WP</th>
                    <th style="width: 5%;">DIIO</th>
                    <th style="width: 5%;">Points</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="rating in blenderOutput.otherRatings">

                    <td style="width: 12%;">{{rating.riskType}}</td>
                    <td>{{rating.description}}</td>

                    <td style="width: 5%;" ng-class="getRiskClass(rating.upnt)">{{rating.upnt}}</td>
                    <td style="width: 5%;"ng-class="getRiskClass(rating.spnt)">{{rating.spnt}}</td>
                    <td style="width: 5%;" ng-class="getRiskClass(rating.nont)">{{rating.nont}}</td>
                    <td style="width: 5%;" ng-class="getRiskClass(rating.spt)">{{rating.spt}}</td>
                    <td style="width: 5%;" ng-class="getRiskClass(rating.tob)">{{rating.tob}}</td>
                    <td style="width: 5%;" ng-class="getRiskClass(rating.wp)">{{rating.wp}}</td>
                    <td style="width: 5%;" ng-class="getRiskClass(rating.diio)">{{rating.diio}}</td>
                    <td style="width: 5%;text-align: center;">{{rating.preferredPoints}}</td>

                </tr>
                </tbody>
            </table>
        </div>
        <div class="row group-heading-medium">
            <div class="col-md-12">Preffered Points & Final Results</div>
        </div>
        <div class="row" id="output-results-id">
            <table class="table table-condensed">
                <thead style="color: #fff; background-color: #286090;">
                <tr>

                    <th style="width: 12%;">Risk Type</th>
                    <th>Description</th>

                    <th style="width: 5%;">UPNT</th>
                    <th style="width: 5%;">SPNT</th>
                    <th style="width: 5%;">NONT</th>
                    <th style="width: 5%;">SPT</th>
                    <th style="width: 5%;">TOB</th>
                    <th style="width: 5%;">WP</th>
                    <th style="width: 5%;">DIIO</th>
                    <th style="width: 5%;">Points</th>
                </tr>
                </thead>
                <tbody>
                <tr>

                    <td style="width: 12%;">{{preferredPointRating.riskType}}</td>
                    <td>{{preferredPointRating.description}}</td>

                    <td style="width: 5%;" ng-class="getRiskClass(preferredPointRating.upnt)">{{preferredPointRating.upnt}}</td>
                    <td style="width: 5%;" ng-class="getRiskClass(preferredPointRating.spnt)">{{preferredPointRating.spnt}}</td>
                    <td style="width: 5%;" ng-class="getRiskClass(preferredPointRating.nont)">{{preferredPointRating.nont}}</td>
                    <td style="width: 5%;" ng-class="getRiskClass(preferredPointRating.spt)">{{preferredPointRating.spt}}</td>
                    <td style="width: 5%;" ng-class="getRiskClass(preferredPointRating.tob)">{{preferredPointRating.tob}}</td>
                    <td style="width: 5%;" ng-class="getRiskClass(preferredPointRating.wp)">{{preferredPointRating.wp}}</td>
                    <td style="width: 5%;" ng-class="getRiskClass(preferredPointRating.diio)">{{preferredPointRating.diio}}</td>
                    <td style="width: 5%;text-align: center;">{{preferredPointRating.preferredPoints}}</td>

                </tr>
                <tr>

                    <td style="width: 12%;">{{finalRating.riskType}}</td>
                    <td>{{finalRating.description}}</td>

                    <td style="width: 5%;" ng-class="getRiskClass(finalRating.upnt)">{{finalRating.upnt}}</td>
                    <td style="width: 5%;"ng-class="getRiskClass(finalRating.spnt)">{{finalRating.spnt}}</td>
                    <td style="width: 5%;" ng-class="getRiskClass(finalRating.nont)">{{finalRating.nont}}</td>
                    <td style="width: 5%;" ng-class="getRiskClass(finalRating.spt)">{{finalRating.spt}}</td>
                    <td style="width: 5%;" ng-class="getRiskClass(finalRating.tob)">{{finalRating.tob}}</td>
                    <td style="width: 5%;" ng-class="getRiskClass(finalRating.wp)">{{finalRating.wp}}</td>
                    <td style="width: 5%;" ng-class="getRiskClass(finalRating.diio)">{{finalRating.diio}}</td>
                    <td style="width: 5%;text-align: center;">{{finalRating.preferredPoints}}</td>

                </tr>
                </tbody>
            </table>
        </div>
               
	</div>
</div>






