<div class="insurance_demo">
    <div init-header="mib" header-label="Insurance Demo - MIB"></div>

    <form name="mainForm" class="body form-horizontal insurance-form">

        <div class="row">

        <div class="col-md-1"></div>
        <div class="col-md-8">
            <div data-ng-include="'client/app/components/mib/view/mib_input_codes.html'"></div>

        </div>

        <div class="col-md-3">

            <nav class="hidden-print hidden-xs hidden-sm affix" style="right: 10px; width: 300px;">
                <div class="well">
                    <div class="row group-heading">
                        <div class="col-md-12">Available Tasks</div>
                    </div>

                    <div class="row group-body">

                        <div class="col-md-6">

                            <div style="margin-bottom: 5px;width: 80px;">
                                <input class="btn btn-default" type="button" value="Clear"
                                       ng-click="resetDiagnosis()"/>
                            </div>

                        </div>

                    </div>
                    <div class="row group-body">

                        <div class="col-md-6">

                            <input type="button" class="btn btn-success"
                                   value="Calculate Risk Ratings"
                                   ng-click="calculateRiskResults()"/>


                        </div>

                    </div>
                    <div class="row group-body">

                        <div class="col-md-6">

                            <input type="button" class="btn btn-success"
                                   value="Calculate Risk Rollup"
                                   ng-click="calculateRiskRollup()"/>


                        </div>

                    </div>
                    <div class="row group-body">

                        <div class="col-md-6">

                            <input type="button" class="btn btn-success"
                                   value="Calculate Final Risk Summary"
                                   ng-click="calculateRiskSummary()"/>


                        </div>
                    </div>

                </div>

                <div class="panel panel-default">
                    <div class="group-heading">Validation Messages</div>

                    <div class="panel-body">

                        <div class="row" ng-if="errorQuoteMessages.length > 0">
                            <div class="group-heading">Errors</div>
                            <div class="group-body">
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="qu in errorQuoteMessages | orderBy:'message' ">{{qu.message}}
                                        <span style="display:none">{{qu}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12" ng-show="requiredFieldList != undefined && requiredFieldList.length > 0">

                                <p class="text-danger text-left" tooltip="{{requiredFieldList}}" style="width: 380px;">
                                    Some fields are still required.<br>
                                    Please complete all required fields to complete the quote.
                                </p>
                            </div>

                        </div>

                    </div>
                </div>

            </nav>

        </div>

    </div>
    <!--<div data-ng-include="'client/app/components/mib/view/mib_results_view.html'"></div>-->


    </form>


</div>
