<div class="panel panel-default">
    <div class="panel-heading">MIB Diagnosis</div>

    <div class="panel-body">

        <div class="row">
            <div class="col-md-2" >Diagnosis</div>
            <div class="col-md-1" style="width: 10%" >Modifier</div>
            <div class="col-md-1" style="width: 10%" >Source</div>
            <div class="col-md-1" style="width: 10%" >Time Frame</div>
            <div class="col-md-2" >Site Code</div>

        </div>
        <div class="row" ng-repeat="response in mibInput.responses">

            <div class="col-md-2" >

                <input name="diagnosis_{{$index}}" placeholder="Enter diagnosis"
                       ng-required="true" type="text"
                       ng-model="response.diagnosis" class="form-control"
                       ng-change="updateResponseData(response)">

            </div>
            <div class="col-md-1" style="width: 10%" >

                <select type="checkbox" class="form-control"
                        ng-model="response.modifier" ng-required="true"
                        ng-change="updateResponseData(response)">
                    <option value="">Select One</option>
                    <option value="*">*</option>
                    <option value="G">G</option>
                    <option value="H">H</option>
                    <option value="U">U</option>
                    <option value="W">W</option>
                    <option value="J">J</option>
                    <option value="M">M</option>
                    <option value="#">#</option>
                    <option value="S">S</option>
                    <option value="K">K</option>
                    <option value="T">T</option>

                </select>

            </div>
            <div class="col-md-1" style="width: 10%">

                <select type="checkbox" class="form-control"
                        ng-model="response.source" ng-required="true"
                        ng-change="updateResponseData(response)">
                    <option value="">Select One</option>
                    <option value="*">*</option>
                    <option value="E">E</option>
                    <option value="Y">Y</option>
                    <option value="R">R</option>
                    <option value="X">X</option>
                    <option value="V">V</option>
                    <option value="#">#</option>
                    <option value="Z">Z</option>

                </select>

            </div>
            <div class="col-md-1" style="width: 10%">

                <select type="checkbox" class="form-control"
                        ng-model="response.timeframe" ng-required="true"
                        ng-change="updateResponseData(response)">
                    <option value="">Select One</option>

                    <option value="*">*</option>
                    <option value="N">N</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                    <option value="L">L</option>
                    <option value="P">P</option>
                    <option value="#">#</option>

                </select>

            </div>
            <div class="col-md-2" >

                <input name="siteCode_{{$index}}" placeholder="Enter site code"
                       type="text"
                       ng-model="response.siteCode" class="form-control"
                       ng-change="updateResponseData(response)">

            </div>
            <label class="col-md-2 control-label">{{response.responseData}}</label>
            <div class="col-md-1">
                <span class="required" ng-show="mainForm['diagnosis_{{$index}}'].$error.required">**</span>
            </div>
        </div>

    </div>
</div>