<div class="insurance_demo">
    <div class="container" style="margin-top: 80px;">
        <div init-header="diff" header-label="Rating Results Differences"></div>

        <div class="row" data-ng-include="'client/app/components/diff_tool/view/diff_results_view.html'"></div>


        <!--<div class="flash_background">testing</div>-->
    </div>

</div>
