
    <div class="panel panel-default">
            <div class="panel-heading">Rating Results</div>

            <div class="panel-body">

                <div class="row">
                    <label class="col-md-8 control-label">Rating Results:</label>
                </div>
                <div class="row">
                    <table class="table table-hover table-striped table-condensed table-bordered rating_diffs">
                        <thead style="color: #fff; background-color: #286090;">
                        <tr>

                            <th>
                                <div class="row">
                                    <div class="col-md-1" style="width: 7%;">Status</div>
                                    <div class="col-md-2">Risk Type</div>
                                    <div class="col-md-2">Rule Name</div>
                                    <div class="col-md-3">Description</div>

                                    <div class="col-md-1">UPNT</div>
                                    <div class="col-md-1">SPNT</div>
                                    <div class="col-md-1">NONT</div>
                                    <div class="col-md-1">SPT</div>
                                    <div class="col-md-1">TOB</div>
                                    <div class="col-md-1">WP</div>
                                    <div class="col-md-1">DIIO</div>
                                </div>
                            </th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="rating in results.riskRatings | filter:filterRatings">
                            <td ng-class="{info: rating.removed === true}">
                                <div class="row" ng-class="{risk_removed : rating.removed === true}">
                                    <div class="col-md-1" style="width: 7%;">{{rating.edited === true ? 'Changed' : 'Removed'}}</div>
                                    <div class="col-md-2" style="overflow-x: hidden;">{{rating.riskType}}</div>
                                    <div class="col-md-2">{{rating.ruleName}}</div>
                                    <div class="col-md-3" style="overflow-y: auto; height: 20px;">{{rating.description}}</div>

                                    <div class="col-md-1" ng-class="getRiskClass(rating.upnt, null, rating)">{{rating.upnt}}</div>
                                    <div class="col-md-1" ng-class="getRiskClass(rating.spnt, null, rating)">{{rating.spnt}}</div>
                                    <div class="col-md-1" ng-class="getRiskClass(rating.nont, null, rating)">{{rating.nont}}</div>
                                    <div class="col-md-1" ng-class="getRiskClass(rating.spt, null, rating)">{{rating.spt}}</div>
                                    <div class="col-md-1" ng-class="getRiskClass(rating.tob, null, rating)">{{rating.tob}}</div>
                                    <div class="col-md-1" ng-class="getRiskClass(rating.wp, null, rating)">{{rating.wp}}</div>
                                    <div class="col-md-1" ng-class="getRiskClass(rating.diio, null, rating)">{{rating.diio}}</div>
                                </div>
                                <div class="row danger" ng-if="rating.edited === true">
                                    <div class="col-md-1" style="width: 7%;">To</div>
                                    <div class="col-md-2"></div>
                                    <div class="col-md-2"></div>
                                    <div class="col-md-3" style="overflow-y: auto; height: 20px;">{{rating.future.description}}</div>

                                    <div class="col-md-1" ng-class="getRiskClass(rating.future.upnt, rating.upnt)">{{rating.future.upnt}}</div>
                                    <div class="col-md-1" ng-class="getRiskClass(rating.future.spnt, rating.spnt)">{{rating.future.spnt}}</div>
                                    <div class="col-md-1" ng-class="getRiskClass(rating.future.nont, rating.nont)">{{rating.future.nont}}</div>
                                    <div class="col-md-1" ng-class="getRiskClass(rating.future.spt, rating.spt)">{{rating.future.spt}}</div>
                                    <div class="col-md-1" ng-class="getRiskClass(rating.future.tob, rating.tob)">{{rating.future.tob}}</div>
                                    <div class="col-md-1" ng-class="getRiskClass(rating.future.wp, rating.wp)">{{rating.future.wp}}</div>
                                    <div class="col-md-1" ng-class="getRiskClass(rating.future.diio, rating.diio)">{{rating.future.diio}}</div>
                                </div>

                            </td>
                        </tr>
                        <tr ng-repeat="rating in newRiskRatings">
                            <td class="success">
                                <div class="row">
                                    <div class="col-md-1" style="width: 7%;">Added</div>
                                    <div class="col-md-2 risk_added" style="overflow-x: hidden;">{{rating.riskType}}</div>
                                    <div class="col-md-2">{{rating.ruleName}}</div>
                                    <div class="col-md-3" style="overflow-y: auto; height: 55px;">{{rating.description}}</div>

                                    <div class="col-md-1" ng-class="getRiskClass(rating.upnt)">{{rating.upnt}}</div>
                                    <div class="col-md-1" ng-class="getRiskClass(rating.spnt)">{{rating.spnt}}</div>
                                    <div class="col-md-1" ng-class="getRiskClass(rating.nont)">{{rating.nont}}</div>
                                    <div class="col-md-1" ng-class="getRiskClass(rating.spt)">{{rating.spt}}</div>
                                    <div class="col-md-1" ng-class="getRiskClass(rating.tob)">{{rating.tob}}</div>
                                    <div class="col-md-1" ng-class="getRiskClass(rating.wp)">{{rating.wp}}</div>
                                    <div class="col-md-1" ng-class="getRiskClass(rating.diio)">{{rating.diio}}</div>
                                </div>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <hr>
                <div class="row">
                    <label class="col-md-8 control-label">Rating Rollup Results:</label>
                </div>
                <div class="row">
                    <table class="table table-hover table-striped table-condensed table-bordered rating_diffs">
                        <thead style="color: #fff; background-color: #286090;">
                        <tr>
                            <th>
                                <div class="row">
                                    <div class="col-md-1" style="width: 7%;">Status</div>
                                    <div class="col-md-2">Risk Type</div>
                                    <div class="col-md-5">Description</div>
                                    <div class="col-md-1">UPNT</div>
                                    <div class="col-md-1">SPNT</div>
                                    <div class="col-md-1">NONT</div>
                                    <div class="col-md-1">SPT</div>
                                    <div class="col-md-1">TOB</div>
                                    <div class="col-md-1">WP</div>
                                    <div class="col-md-1">DIIO</div>
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="rating in results.riskRollups | filter:filterRatings">

                            <td ng-class="{info: rating.removed === true}">
                                <div class="row" ng-class="{risk_removed : rating.removed === true}">
                                    <div class="col-md-1" style="width: 7%;">{{rating.edited === true ? 'Changed' : 'Removed'}}</div>
                                    <div class="col-md-2" style="overflow-x: hidden;">{{rating.riskType}}</div>
                                    <div class="col-md-5" style="overflow-x: hidden;">{{rating.description}}</div>

                                    <div class="col-md-1" ng-class="getRiskClass(rating.upnt, null, rating)">{{rating.upnt}}</div>
                                    <div class="col-md-1" ng-class="getRiskClass(rating.spnt, null, rating)">{{rating.spnt}}</div>
                                    <div class="col-md-1" ng-class="getRiskClass(rating.nont, null, rating)">{{rating.nont}}</div>
                                    <div class="col-md-1" ng-class="getRiskClass(rating.spt, null, rating)">{{rating.spt}}</div>
                                    <div class="col-md-1" ng-class="getRiskClass(rating.tob, null, rating)">{{rating.tob}}</div>
                                    <div class="col-md-1" ng-class="getRiskClass(rating.wp, null, rating)">{{rating.wp}}</div>
                                    <div class="col-md-1" ng-class="getRiskClass(rating.diio, null, rating)">{{rating.diio}}</div>
                                </div>
                                <div class="row danger" ng-if="rating.edited === true">
                                    <div class="col-md-1" style="width: 7%;">To</div>
                                    <div class="col-md-2"></div>
                                    <div class="col-md-5" style="overflow-x: hidden;">{{rating.future.description}}</div>

                                    <div class="col-md-1" ng-class="getRiskClass(rating.future.upnt, rating.upnt)">{{rating.future.upnt}}</div>
                                    <div class="col-md-1" ng-class="getRiskClass(rating.future.spnt, rating.spnt)">{{rating.future.spnt}}</div>
                                    <div class="col-md-1" ng-class="getRiskClass(rating.future.nont, rating.nont)">{{rating.future.nont}}</div>
                                    <div class="col-md-1" ng-class="getRiskClass(rating.future.spt, rating.spt)">{{rating.future.spt}}</div>
                                    <div class="col-md-1" ng-class="getRiskClass(rating.future.tob, rating.tob)">{{rating.future.tob}}</div>
                                    <div class="col-md-1" ng-class="getRiskClass(rating.future.wp, rating.wp)">{{rating.future.wp}}</div>
                                    <div class="col-md-1" ng-class="getRiskClass(rating.future.diio, rating.diio)">{{rating.future.diio}}</div>
                                </div>

                            </td>
                        </tr>
                        <tr ng-repeat="rating in newRiskRollups">
                            <td class="success">
                                <div class="row">
                                    <div class="col-md-1" style="width: 7%;">Added</div>
                                    <div class="col-md-2 risk_added" style="overflow-x: hidden;">{{rating.riskType}}</div>
                                    <div class="col-md-5" style="overflow-x: hidden;">{{rating.description}}</div>

                                    <div class="col-md-1" ng-class="getRiskClass(rating.upnt)">{{rating.upnt}}</div>
                                    <div class="col-md-1" ng-class="getRiskClass(rating.spnt)">{{rating.spnt}}</div>
                                    <div class="col-md-1" ng-class="getRiskClass(rating.nont)">{{rating.nont}}</div>
                                    <div class="col-md-1" ng-class="getRiskClass(rating.spt)">{{rating.spt}}</div>
                                    <div class="col-md-1" ng-class="getRiskClass(rating.tob)">{{rating.tob}}</div>
                                    <div class="col-md-1" ng-class="getRiskClass(rating.wp)">{{rating.wp}}</div>
                                    <div class="col-md-1" ng-class="getRiskClass(rating.diio)">{{rating.diio}}</div>
                                </div>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <hr>
                <div class="row">
                    <label class="col-md-8 control-label">Rating Rollup Final Summary:</label>
                </div>
                <div class="row">
                    <table class="table table-hover table-striped table-condensed table-bordered rating_diffs">
                        <thead style="color: #fff; background-color: #286090;">
                        <tr>
                            <th>
                                <div class="row">
                                    <div class="col-md-1" style="width: 7%;">Status</div>
                                    <div class="col-md-2">Summary Type</div>

                                    <div class="col-md-5">Description</div>
                                    <div class="col-md-1">UPNT</div>
                                    <div class="col-md-1">SPNT</div>
                                    <div class="col-md-1">NONT</div>
                                    <div class="col-md-1">SPT</div>
                                    <div class="col-md-1">TOB</div>
                                    <div class="col-md-1">WP</div>
                                    <div class="col-md-1">DIIO</div>
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="rating in results.summary">
                            <td ng-class="{info: rating.removed === true}">
                                <div class="row" ng-class="{risk_removed : rating.removed === true}">
                                    <div class="col-md-1" style="width: 7%;">{{rating.edited === true ? 'Changed' : 'Removed'}}</div>
                                    <div class="col-md-2" style="overflow-x: hidden;">{{rating.riskSummaryType}}</div>
                                    <div class="col-md-5" style="overflow-x: hidden;">{{rating.description}}</div>

                                    <div class="col-md-1" ng-class="getRiskClass(rating.upnt, null, rating)">{{rating.upnt}}</div>
                                    <div class="col-md-1" ng-class="getRiskClass(rating.spnt, null, rating)">{{rating.spnt}}</div>
                                    <div class="col-md-1" ng-class="getRiskClass(rating.nont, null, rating)">{{rating.nont}}</div>
                                    <div class="col-md-1" ng-class="getRiskClass(rating.spt, null, rating)">{{rating.spt}}</div>
                                    <div class="col-md-1" ng-class="getRiskClass(rating.tob, null, rating)">{{rating.tob}}</div>
                                    <div class="col-md-1" ng-class="getRiskClass(rating.wp, null, rating)">{{rating.wp}}</div>
                                    <div class="col-md-1" ng-class="getRiskClass(rating.diio, null, rating)">{{rating.diio}}</div>
                                </div>
                                <div class="row danger" ng-if="rating.edited === true">
                                    <div class="col-md-1" style="width: 7%;">To</div>
                                    <div class="col-md-2"></div>
                                    <div class="col-md-5" style="overflow-x: hidden;">{{rating.future.description}}</div>

                                    <div class="col-md-1" ng-class="getRiskClass(rating.future.upnt, rating.upnt)">{{rating.future.upnt}}</div>
                                    <div class="col-md-1" ng-class="getRiskClass(rating.future.spnt, rating.spnt)">{{rating.future.spnt}}</div>
                                    <div class="col-md-1" ng-class="getRiskClass(rating.future.nont, rating.nont)">{{rating.future.nont}}</div>
                                    <div class="col-md-1" ng-class="getRiskClass(rating.future.spt, rating.spt)">{{rating.future.spt}}</div>
                                    <div class="col-md-1" ng-class="getRiskClass(rating.future.tob, rating.tob)">{{rating.future.tob}}</div>
                                    <div class="col-md-1" ng-class="getRiskClass(rating.future.wp, rating.wp)">{{rating.future.wp}}</div>
                                    <div class="col-md-1" ng-class="getRiskClass(rating.future.diio, rating.diio)">{{rating.future.diio}}</div>
                                </div>

                            </td>
                        </tr>
                        <tr ng-repeat="rating in newRiskSummary">
                            <td class="success">
                                <div class="row">
                                    <div class="col-md-1" style="width: 7%;">Added</div>
                                    <div class="col-md-2 risk_added" style="overflow-x: hidden;">{{rating.riskSummaryType}}</div>
                                    <div class="col-md-5" style="overflow-x: hidden;">{{rating.description}}</div>

                                    <div class="col-md-1" ng-class="getRiskClass(rating.upnt)">{{rating.upnt}}</div>
                                    <div class="col-md-1" ng-class="getRiskClass(rating.spnt)">{{rating.spnt}}</div>
                                    <div class="col-md-1" ng-class="getRiskClass(rating.nont)">{{rating.nont}}</div>
                                    <div class="col-md-1" ng-class="getRiskClass(rating.spt)">{{rating.spt}}</div>
                                    <div class="col-md-1" ng-class="getRiskClass(rating.tob)">{{rating.tob}}</div>
                                    <div class="col-md-1" ng-class="getRiskClass(rating.wp)">{{rating.wp}}</div>
                                    <div class="col-md-1" ng-class="getRiskClass(rating.diio)">{{rating.diio}}</div>
                                </div>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <hr>
                <div class="row">

                    <div class="col-md-2" >

                        <input class="btn btn-primary" type="button" value="Return to Questions"
                               ng-click="returnToquestions()"/>

                    </div>

                </div>

            </div>
        </div>







