<div class="insurance_demo">
    <div class="header">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-4">
                <div class="logo">
                    <img src="client/app/assets/img/mmLogo.png">
                </div>

            </div>
            <div class="col-md-4">
                <div class="firstRow">Rating Results</div>
            </div>

        </div>
    </div>
    <div class="container" style="margin-top: 80px;">
        <div class="panel panel-default">
            <div class="panel-heading">Rating Results</div>

            <div class="panel-body">

                <div class="row" ng-if="results.messages && results.messages.length > 0">
                    <label class="col-md-8 control-label">Rating Errors:</label>
                </div>
                <div class="row" ng-if="results.messages && results.messages.length > 0">
                    <table class="table table-hover table-striped table-condensed table-bordered">
                        <thead style="color: #fff; background-color: #286090;">
                        <tr>
                            <th style="width: 12%;">Risk Type</th>
                            <th>Description</th>
                            <th style="width: 20%;">Question</th>
                            <th style="width: 14.5%;">Type</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="msg in results.messages" style="background-color: red;">
                            <td>{{msg.riskType}}</td>
                            <td>{{msg.message}}</td>
                            <td>{{msg.questionIdentifier}}</td>
                            <td>{{msg.type}}</td>

                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <label class="col-md-8 control-label">Rating Results:</label>
                </div>
                <div class="row">
                    <table class="table table-hover table-striped table-condensed table-bordered">
                        <thead style="color: #fff; background-color: #286090;">
                        <tr>
                            <th style="width: 12%">Risk Type</th>
                            <th>Description</th>
                            <th style="width: 20%;">Rule Name</th>

                            <th style="width: 5%;">UPNT</th>
                            <th style="width: 5%;">SPNT</th>
                            <th style="width: 5%;">NONT</th>
                            <th style="width: 5%;">SPT</th>
                            <th style="width: 5%;">TOB</th>
                            <th style="width: 5%;">WP</th>
                            <th style="width: 5%;">DIIO</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="rating in results.riskRatings | filter:filterByRiskType">
                            <td>{{rating.riskType}}</td>
                            <td>
                                <div style="overflow-y: auto; height: 55px;">
                                    {{rating.description}}
                                </div>
                            </td>
                            <td>{{rating.ruleName}}</td>
                            <td ng-class="getRiskClass(rating.upnt)">{{rating.upnt}}</td>
                            <td ng-class="getRiskClass(rating.spnt)">{{rating.spnt}}</td>
                            <td ng-class="getRiskClass(rating.nont)">{{rating.nont}}</td>
                            <td ng-class="getRiskClass(rating.spt)">{{rating.spt}}</td>
                            <td ng-class="getRiskClass(rating.tob)">{{rating.tob}}</td>
                            <td ng-class="getRiskClass(rating.wp)">{{rating.wp}}</td>
                            <td ng-class="getRiskClass(rating.diio)">{{rating.diio}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <hr>
                <div class="row">
                    <label class="col-md-8 control-label">Rating Rollup Results:</label>
                </div>
                <div class="row">
                    <table class="table table-hover table-striped table-condensed table-bordered">
                        <thead style="color: #fff; background-color: #286090;">
                        <tr>
                            <th style="width: 12%;">Risk Type</th>
                            <th>Description</th>

                            <th style="width: 5%;">UPNT</th>
                            <th style="width: 5%;">SPNT</th>
                            <th style="width: 5%;">NONT</th>
                            <th style="width: 5%;">SPT</th>
                            <th style="width: 5%;">TOB</th>
                            <th style="width: 5%;">WP</th>
                            <th style="width: 5%;">DIIO</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="rating in results.riskRollups | filter:filterByRiskType">
                            <td>{{rating.riskType}}</td>
                            <td>{{rating.description}}</td>
                            <td ng-class="getRiskClass(rating.upnt)">{{rating.upnt}}</td>
                            <td ng-class="getRiskClass(rating.spnt)">{{rating.spnt}}</td>
                            <td ng-class="getRiskClass(rating.nont)">{{rating.nont}}</td>
                            <td ng-class="getRiskClass(rating.spt)">{{rating.spt}}</td>
                            <td ng-class="getRiskClass(rating.tob)">{{rating.tob}}</td>
                            <td ng-class="getRiskClass(rating.wp)">{{rating.wp}}</td>
                            <td ng-class="getRiskClass(rating.diio)">{{rating.diio}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <hr>
                <div class="row">
                    <label class="col-md-8 control-label">Rating Rollup Final Summary:</label>
                </div>
                <div class="row">
                    <table class="table table-hover table-striped table-condensed table-bordered">
                        <thead style="color: #fff; background-color: #286090;">
                        <tr>
                            <th style="width: 12%;">Summary Type</th>
                            <th>Description</th>

                            <th style="width: 5%;">UPNT</th>
                            <th style="width: 5%;">SPNT</th>
                            <th style="width: 5%;">NONT</th>
                            <th style="width: 5%;">SPT</th>
                            <th style="width: 5%;">TOB</th>
                            <th style="width: 5%;">WP</th>
                            <th style="width: 5%;">DIIO</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="rating in results.summary">
                            <td>{{rating.riskSummaryType}}</td>
                            <td>{{rating.description}}</td>

                            <td ng-class="getRiskClass(rating.upnt)">{{rating.upnt}}</td>
                            <td ng-class="getRiskClass(rating.spnt)">{{rating.spnt}}</td>
                            <td ng-class="getRiskClass(rating.nont)">{{rating.nont}}</td>
                            <td ng-class="getRiskClass(rating.spt)">{{rating.spt}}</td>
                            <td ng-class="getRiskClass(rating.tob)">{{rating.tob}}</td>
                            <td ng-class="getRiskClass(rating.wp)">{{rating.wp}}</td>
                            <td ng-class="getRiskClass(rating.diio)">{{rating.diio}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <hr>
                <div class="row">

                    <div class="col-md-2" >

                        <input class="btn btn-primary" type="button" value="Return to Questions"
                               ng-click="returnToquestions()"/>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>





