<div class="panel panel-default">
    <div class="panel-heading">Medical Examination History</div>

    <div class="panel-body">


        <div class="row">
            <label class="col-md-6 control-label">Enter part one date last seen by physician ( YYYY-MM-dd)</label>
            <div class="col-md-3">


                <input name="principalInsured-medicalHistory-partOnePhysicianLastSeen" placeholder="YYYY-MM-dd"
                       ng-required="false" type="text"
                       ng-model="principalInsured.medicalHistory.physicianLastSeen" class="form-control"/>

            </div>
            <div class="col-md-1">
                <span class="required"
                      ng-show="mainForm.principalInsured-medicalHistory-partOnePhysicianLastSeen.$error.required">**</span>
            </div>
        </div>
        <div class="row">
            <label class="col-md-6 control-label">Enter part two date last seen by physician( YYYY-MM-dd)</label>
            <div class="col-md-3">


                <input name="personalHistory-medicalHistory-partTwoPhysicianLastSeen" placeholder="YYYY-MM-dd"
                       ng-required="false" type="text"
                       ng-model="personalHistory.medicalHistory.physicianLastSeen" class="form-control"/>

            </div>
            <div class="col-md-1">
                <span class="required"
                      ng-show="mainForm.personalHistory-medicalHistory-partTwoPhysicianLastSeen.$error.required">**</span>
            </div>
        </div>
        <hr>
        <div class="row">

            <div class="col-md-2">

                <input class="btn btn-primary" type="button" value="Calculate Ratings"
                       ng-click="calculateRiskRating('EXAMINIATION_HISTORY ')"/>

            </div>

            <div class="col-md-2">

                <input class="btn btn-primary" type="button" value="Calculate Rollup"
                       ng-click="calculateRiskRollup('EXAMINIATION_HISTORY ')"/>

            </div>

        </div>
    </div>
</div>






