<div class="panel panel-default">
    <div class="panel-heading">Rx Rules</div>

    <div class="panel-body">

        <div class="row" ng-repeat="rxRule in rxInputList">

            <div class="col-md-2">

                <input name="ruleName_{{$index}}" placeholder="Enter rx rule id"
                       ng-required="true" type="text"
                       ng-model="rxRule.ruleName" class="form-control">

            </div>
            <!--<div class="col-md-2">-->

                <!--<input name="cmiQuestionId_{{$index}}" placeholder="Enter question id"-->
                       <!--ng-required="true" type="text"-->
                       <!--ng-model="rxRule.cmiQuestionId" class="form-control">-->

            <!--</div>-->
            <!--<div class="col-md-2">-->

                <!--<select name="cmiResponse_{{$index}}" type="checkbox" class="form-control"-->
                        <!--ng-model="rxRule.cmiResponse" ng-required="true">-->
                    <!--<option value="">Select One</option>-->
                    <!--<option value="Y">Yes</option>-->
                    <!--<option value="N">No</option>-->

                <!--</select>-->

            <!--</div>-->
            <div class="col-md-1">
                <span class="required" ng-show="mainForm['ruleName_{{$index}}'].$error.required">**</span>
                <!--<span class="required" ng-show="mainForm['cmiQuestionId_{{$index}}'].$error.required">**</span>-->
            </div>
        </div>

    </div>
</div>
