<div class="insurance_demo">
    <div init-header="verification" header-label="Insurance Demo - Verification"></div>

    <form name="mainForm" class="body form-horizontal insurance-form">

    <div class="row">

        <div class="col-md-1"></div>
        <div class="col-md-8 tab-heading">

            <tabset>


                <tab heading="Blood Disorder">

                    <div class="well" style="border-top: 0px;">

                        <div data-ng-include="'client/app/components/part2/view/blood_disorder_view.html'"></div>

                    </div>
                </tab>
                <tab heading="Cancer">

                    <div class="well" style="border-top: 0px;">

                        <div data-ng-include="'client/app/components/part2/view/cancer_view.html'"></div>

                    </div>
                </tab>
                <tab heading="Heart Condition">

                    <div class="well" style="border-top: 0px;">
                        <div data-ng-include="'client/app/components/part2/view/heart_condition_view.html'"></div>
                    </div>
                </tab>

                <tab heading="Family History">

                    <div class="well" style="border-top: 0px;">
                        <div data-ng-include="'client/app/components/part2/view/family_history_view.html'"></div>
                    </div>
                </tab>

                <tab heading="Mental Health">

                    <div class="well" style="border-top: 0px;">
                        <div data-ng-include="'client/app/components/part2/view/mental_health_view.html'"></div>
                    </div>
                </tab>

                <tab heading="Nervous System">

                    <div class="well" style="border-top: 0px;">

                        <div data-ng-include="'client/app/components/part2/view/nervous_system_disorder_view.html'"></div>

                    </div>
                </tab>
                <tab heading="Diabetes">

                    <div class="well" style="border-top: 0px;">

                        <div data-ng-include="'client/app/components/part2/view/diabetes_view.html'"></div>

                    </div>
                </tab>
                <tab heading="Digestive Disorders">

                    <div class="well" style="border-top: 0px;">

                        <div data-ng-include="'client/app/components/part2/view/digestive_disorder_view.html'"></div>

                    </div>
                </tab>
                <tab heading="Musculoskeletal Disorder">

                    <div class="well" style="border-top: 0px;">

                        <div data-ng-include="'client/app/components/part2/view/musculoskeletal_disorder_view.html'"></div>

                    </div>
                </tab>
                <tab heading="Medical Examination History">

                    <div class="well" style="border-top: 0px;">
                        <div data-ng-include="'client/app/components/verification/view/date_last_seen_history_view.html'"></div>
                    </div>
                </tab>
                <tab heading="Other Disorder">

                    <div class="well" style="border-top: 0px;">

                        <div data-ng-include="'client/app/components/part2/view/part2_other_view.html'"></div>

                    </div>
                </tab>
                <tab heading="Personal Info">

                    <div class="well" style="border-top: 0px;">

                        <div data-ng-include="'client/app/components/part2/view/personal_information_view.html'"></div>

                    </div>
                </tab>
                <tab heading="Pulmonary">

                    <div class="well" style="border-top: 0px;">

                        <div data-ng-include="'client/app/components/part2/view/pulmonary_disorder_view.html'"></div>

                    </div>
                </tab>
                <tab heading="RX Rules">

                    <div class="well" style="border-top: 0px;">
                        <div data-ng-include="'client/app/components/verification/view/verification_data_view.html'"></div>
                    </div>
                </tab>
                <tab heading="Applicant">

                    <div class="well" style="border-top: 0px;">

                        <div data-ng-include="'client/app/components/blender/view/input_applicant_view.html'"></div>

                    </div>
                </tab>
                <tab heading="Dui">

                    <div class="well" style="border-top: 0px;">
                        <div data-ng-include="'client/app/components/part1/view/dui_view.html'"></div>
                    </div>
                </tab>
                <tab heading="Smoking">

                    <div class="well" style="border-top: 0px;">

                        <div data-ng-include="'client/app/components/part1/view/smoking_view.html'"></div>

                    </div>
                </tab>
                <tab heading="MIB">

                    <div class="well" style="border-top: 0px;">

                        <div data-ng-include="'client/app/components/mib/view/mib_input_codes.html'"></div>

                    </div>
                </tab>


            </tabset>

        </div>

        <div class="col-md-3">

            <nav class="hidden-print hidden-xs hidden-sm affix" style="right: 10px; width: 300px;">
                <div class="well">
                    <div class="row group-heading">
                        <div class="col-md-12">Available Tasks</div>
                    </div>

                    <div class="row group-body">

                        <div class="col-md-6">

                            <div style="margin-bottom: 5px;width: 80px;">
                                <input class="btn btn-default" type="button" value="Clear"
                                       ng-click="resetQuote()"/>
                            </div>

                        </div>

                    </div>
                    <div class="row group-body">

                        <div class="col-md-6">

                            <input type="button" class="btn btn-success"
                                   value="Calculate Verification Ratings"
                                   ng-click="calculateVerificationRating('ALL')"/>


                        </div>
                    </div>
                    <div class="row group-body">

                        <div class="col-md-6">

                            <input type="button" class="btn btn-success"
                                   value="Calculate Final Verification Rollup"
                                   ng-click="calculateVerificationRollup('ALL')"/>


                        </div>
                    </div>
                    <div class="row group-body">

                        <div class="col-md-6">

                            <input type="button" class="btn btn-success"
                                   value="Calculate Final Verification Summary"
                                   ng-click="calculateVerificationSummary('ALL')"/>


                        </div>
                    </div>

                </div>

                <div class="panel panel-default">
                    <div class="group-heading">Validation Messages</div>

                    <div class="panel-body">


                        <div class="panel panel-danger" ng-if="warningQuoteMessages > 0">
                            <div class="group-heading">Warning</div>
                            <div class="group-body">
                                <ul class="list-group">

                                    <li class="list-group-item" ng-repeat="qu in warningQuoteMessages ">
                                        {{qu.message}}
                                    </li>
                                </ul>
                            </div>
                        </div>


                        <div class="panel panel-danger" ng-if="infoQuoteMessages.length > 0">
                            <div class="group-heading">Information</div>
                            <div class="group-body">
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="qu in infoQuoteMessages ">{{qu.message}}
                                        <span style="display:none">{{qu}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>


                        <div class="row" ng-if="errorQuoteMessages.length > 0">
                            <div class="group-heading">Errors</div>
                            <div class="group-body">
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="qu in errorQuoteMessages | orderBy:'message' ">{{qu.message}}
                                        <span style="display:none">{{qu}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12" ng-show="quoteStatus == QuoteStatus.FORM_INCOMPLETE">

                                <p class="text-danger text-left" tooltip="{{requiredFieldList}}" style="width: 380px;">
                                    Some fields are still required.<br>
                                    Please complete all required fields to complete the quote.
                                </p>
                            </div>

                        </div>

                    </div>
                </div>

            </nav>

        </div>

    </div>
</form>

</div>
