<div class="insurance_demo">
    <div init-header="swagger" header-label="Insurance Demo - Swagger"></div>

    <div class="row body">
        <div class="swagger col-md-10">
            <pre><code swagger-pretty-json="swaggerJson"></code></pre>
        </div>
        <!--<pre pretty-json="swaggerJson"  />-->
    </div>

</div>
