<div class="insurance_demo">
    <div init-header="mvr" header-label="Insurance Demo - MVR"></div>

    <form name="mainForm" class="body form-horizontal insurance-form">

        <div class="row">

        <div class="col-md-1"></div>
        <div class="col-md-8">

            <div class="panel panel-default">
                <div class="panel-heading">MVR Input/Violations</div>

                <div class="panel-body">

                    <div class="row">
                        <label class="col-md-3 control-label">License Available</label>
                        <div class="col-md-2" >

                            <select name="mvrLicenseAvailable" type="checkbox" class="form-control"
                                    ng-model="mvrInput.insured.licenseAvailable" ng-required="true">
                                <option value="">Select One</option>
                                <option value="Y">Yes</option>
                                <option value="N">No</option>
                            </select>

                        </div>
                        <div class="col-md-1">
                            <span class="required" ng-show="mainForm.mvrLicenseAvailable.$error.required">**</span>
                        </div>

                    </div>
                    <div class="row" ng-repeat="violation in inputCodeArray">

                        <label class="col-md-2 control-label">Violation Code:</label>
                        <div class="col-md-1">

                            <input type="checkbox" ng-model="violation.include">

                        </div>
                        <div class="col-md-2" >

                            <input name="violationCode_{{$index}}" placeholder="Enter diagnosis"
                                   ng-required="violation.include == true" type="text"
                                   ng-model="violation.violationCode" class="form-control">

                        </div>

                        <div class="col-md-1">
                            <span class="required" ng-show="violation.include == true && mainForm['violationCode_{{$index}}'].$error.required">**</span>
                        </div>

                        <label class="col-md-3 control-label">Violation Date</label>
                        <div class="col-md-2" >

                            <input name="violationDate_{{$index}}" placeholder="YYYY-MM-dd"
                                   ng-required="violation.include == true" type="text"
                                   ng-model="violation.violationDate" class="form-control"/>

                        </div>
                        <div class="col-md-1">
                            <span class="required" ng-show="violation.include == true && mainForm['violationDate_{{$index}}'].$error.required">**</span>
                        </div>

                    </div>

                </div>
            </div>


        </div>

        <div class="col-md-3">

            <nav class="hidden-print hidden-xs hidden-sm affix" style="right: 10px; width: 300px;">
                <div class="well">
                    <div class="row group-heading">
                        <div class="col-md-12">Available Tasks</div>
                    </div>

                    <div class="row group-body">

                        <div class="col-md-6">

                            <div style="margin-bottom: 5px;width: 80px;">
                                <input class="btn btn-default" type="button" value="Clear"
                                       ng-click="resetViolationCodes()"/>
                            </div>

                        </div>

                    </div>
                    <div class="row group-body">

                        <div class="col-md-6">

                            <input type="button" class="btn btn-success"
                                   value="Calculate Risk Ratings"
                                   ng-click="calculateRiskResults()" scroll-to-tag="output-results-id"/>


                        </div>

                    </div>
                    <div class="row group-body">

                        <div class="col-md-6">

                            <input type="button" class="btn btn-success"
                                   value="Calculate Risk Rollup"
                                   ng-click="calculateRiskRollup()" scroll-to-tag="output-results-id"/>


                        </div>

                    </div>
                    <div class="row group-body">

                        <div class="col-md-6">

                            <input type="button" class="btn btn-success"
                                   value="Calculate Final Risk Summary"
                                   ng-click="calculateRiskSummary()" scroll-to-tag="output-results-id"/>


                        </div>
                    </div>

                </div>

                <div class="panel panel-default">
                    <div class="group-heading">Validation Messages</div>

                    <div class="panel-body">

                        <div class="row" ng-if="errorQuoteMessages.length > 0">
                            <div class="group-heading">Errors</div>
                            <div class="group-body">
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="qu in errorQuoteMessages | orderBy:'message' ">{{qu.message}}
                                        <span style="display:none">{{qu}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12" ng-show="requiredFieldList != undefined && requiredFieldList.length > 0">

                                <p class="text-danger text-left" tooltip="{{requiredFieldList}}" style="width: 380px;">
                                    Some fields are still required.<br>
                                    Please complete all required fields to complete the quote.
                                </p>
                            </div>

                        </div>

                    </div>
                </div>

            </nav>

        </div>

    </div>

        <div class="row" id="output-results-id">
            <div class="col-md-1"></div>
            <div class="col-md-8">

                <div class="panel panel-default">
                    <div class="panel-heading">MVR Rating Results</div>

                    <div class="panel-body">

                        <div class="row">
                            <label class="col-md-8 control-label">Rating Results:</label>
                        </div>
                        <div class="row">
                            <table class="table table-hover table-striped table-condensed table-bordered">
                                <thead style="color: #fff; background-color: #286090;">
                                <tr>
                                    <th style="width: 12%">Risk Type</th>
                                    <th>Description</th>
                                    <th style="width: 15%;">Rule Name</th>

                                    <th style="width: 5%;">UPNT</th>
                                    <th style="width: 5%;">SPNT</th>
                                    <th style="width: 5%;">NONT</th>
                                    <th style="width: 5%;">SPT</th>
                                    <th style="width: 5%;">TOB</th>
                                    <th style="width: 5%;">WP</th>
                                    <th style="width: 5%;">DIIO</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="rating in results.riskRatings">
                                    <td>{{rating.riskType}}</td>
                                    <td>
                                        <div>{{rating.description}}</div>
                                    </td>
                                    <td>{{rating.ruleName}}</td>
                                    <td ng-class="getRiskClass(rating.upnt)">{{rating.upnt}}</td>
                                    <td ng-class="getRiskClass(rating.spnt)">{{rating.spnt}}</td>
                                    <td ng-class="getRiskClass(rating.nont)">{{rating.nont}}</td>
                                    <td ng-class="getRiskClass(rating.spt)">{{rating.spt}}</td>
                                    <td ng-class="getRiskClass(rating.tob)">{{rating.tob}}</td>
                                    <td ng-class="getRiskClass(rating.wp)">{{rating.wp}}</td>
                                    <td ng-class="getRiskClass(rating.diio)">{{rating.diio}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <hr>
                        <div class="row">
                            <label class="col-md-8 control-label">Rating Rollup Results:</label>
                        </div>
                        <div class="row">
                            <table class="table table-hover table-striped table-condensed table-bordered">
                                <thead style="color: #fff; background-color: #286090;">
                                <tr>
                                    <th style="width: 12%;">Risk Type</th>
                                    <th>Description</th>

                                    <th style="width: 5%;">UPNT</th>
                                    <th style="width: 5%;">SPNT</th>
                                    <th style="width: 5%;">NONT</th>
                                    <th style="width: 5%;">SPT</th>
                                    <th style="width: 5%;">TOB</th>
                                    <th style="width: 5%;">WP</th>
                                    <th style="width: 5%;">DIIO</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="rating in results.riskRollups">
                                    <td>{{rating.riskType}}</td>
                                    <td>{{rating.description}}</td>
                                    <td ng-class="getRiskClass(rating.upnt)">{{rating.upnt}}</td>
                                    <td ng-class="getRiskClass(rating.spnt)">{{rating.spnt}}</td>
                                    <td ng-class="getRiskClass(rating.nont)">{{rating.nont}}</td>
                                    <td ng-class="getRiskClass(rating.spt)">{{rating.spt}}</td>
                                    <td ng-class="getRiskClass(rating.tob)">{{rating.tob}}</td>
                                    <td ng-class="getRiskClass(rating.wp)">{{rating.wp}}</td>
                                    <td ng-class="getRiskClass(rating.diio)">{{rating.diio}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <hr>
                        <div class="row">
                            <label class="col-md-8 control-label">Rating Rollup Final Summary:</label>
                        </div>
                        <div class="row">
                            <table class="table table-hover table-striped table-condensed table-bordered">
                                <thead style="color: #fff; background-color: #286090;">
                                <tr>
                                    <th style="width: 12%;">Summary Type</th>
                                    <th>Description</th>

                                    <th style="width: 5%;">UPNT</th>
                                    <th style="width: 5%;">SPNT</th>
                                    <th style="width: 5%;">NONT</th>
                                    <th style="width: 5%;">SPT</th>
                                    <th style="width: 5%;">TOB</th>
                                    <th style="width: 5%;">WP</th>
                                    <th style="width: 5%;">DIIO</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="rating in results.summary">
                                    <td>{{rating.riskSummaryType}}</td>
                                    <td>{{rating.description}}</td>

                                    <td ng-class="getRiskClass(rating.upnt)">{{rating.upnt}}</td>
                                    <td ng-class="getRiskClass(rating.spnt)">{{rating.spnt}}</td>
                                    <td ng-class="getRiskClass(rating.nont)">{{rating.nont}}</td>
                                    <td ng-class="getRiskClass(rating.spt)">{{rating.spt}}</td>
                                    <td ng-class="getRiskClass(rating.tob)">{{rating.tob}}</td>
                                    <td ng-class="getRiskClass(rating.wp)">{{rating.wp}}</td>
                                    <td ng-class="getRiskClass(rating.diio)">{{rating.diio}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>


</div>
