<div class="header">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <div class="logo">
                <img src="client/app/assets/img/mmLogo.png">
            </div>

        </div>
        <div class="col-md-5">
            <div class="firstRow">{{headerLabel}}</div>
        </div>
        <div class="col-md-2">
            <select type="checkbox" class="form-control" style="margin-top: 5px;"
                    ng-model="pageView" ng-change="goTo(pageView)">
                <option value="part1">PART I</option>
                <option value="part2">PART_II</option>
                <option value="mib">MIB</option>
                <option value="mvr">MVR</option>
                <option value="rx">RX</option>
                <option value="blender">BLENDER</option>
                <option value="verification">VERIFICATION</option>
                <option value="diff">DIFF TOOL</option>
                <option value="swagger">SWAGGER</option>
            </select>
        </div>
        <div class="col-md-1" style="margin-top: 10px;">
            <i class="glyphicon glyphicon-cog"  ng-click="showConfigurationSettings()"> </i>
        </div>


    </div>
</div>

