

.insurance_demo .header{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    width: 100%;

}

.insurance_demo .body{
    margin-top: 82px;
    background-color: #ffffff;

}

.insurance_demo .control-label{
    color:#435159;
    font-weight: normal;
    text-align: left;
}

.insurance_demo .form-control{
    height: 30px;
    margin-bottom: 2px;
}

.insurance_demo .rating-level .form-control, .insurance_demo .lab_input .form-control{
    height: 20px;
    margin-bottom: 0px;

}

.insurance_demo .input-group .form-control {
    margin: 0px;
}

.insurance_demo .btn-xs{

    /* top, right */
    padding: 2px 5px;

    line-height: 20px;

    background-color: #f5f5f5;

    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #bbbbbb;

    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #a2a2a2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}



.insurance_demo div[class="form-group"] {
	margin-bottom: 5px;
}

.insurance_demo .insurance-form .panel-heading {
	background-color: #f5f5f5;
}

.insurance_demo .insurance-form .panel .group-heading-medium {
    margin-left: 10px;
    border-bottom: none;
    font-size: 15px;
    text-transform: uppercase;
}

.insurance_demo .insurance-form .group-heading {
    font-size: 18px;
    color:#435159;
    text-transform:uppercase;
    padding: 10px 15px;
    border-bottom: 2px solid #cb2026;
}

.insurance_demo .insurance-form .group-heading {
    font-size: 18px;
    color:#435159;
    text-transform:uppercase;
    padding: 10px 15px;
    border-bottom: 2px solid #cb2026;
}

.insurance_demo .insurance-form .group-body {
    padding: 15px;
}

.insurance_demo .insurance-form .panel-body {
    background-color: #f5f5f5;
}

.insurance_demo .firstRow {
	height: 60px;
}

.insurance_demo .required {
	color: red;
}

.insurance_demo .tab-heading .nav-tabs {
    background-color: #f5f5f5;
    border-radius: 4px 4px 0 0;
}
